<div id="<%= dom_id(product_line, :parts) %>" class="parts group">
  <% if @unit %>
    <%= link_to 'Add Part to Unit', admin_product_line_unit_part_search_path(product_line, @unit) %>
  <% end %>
  <table cellpadding="0" class="parts" summary="Listing of Parts for <%= product_line.name %>">
    <thead>
      <th class="reference-number">Ref. No</th>
      <th class="item">Item</th>
      <th class="description">Description</th>
      <th class="part-number">Part Number</th>
      <th class="actions">&nbsp;</th>
    </thead>
    <tbody>
      <% @collection_presenter.parts_by_reference_number.each do |p| %>
        <tr>
        <% p.parts.each_with_index do |part,i| %>
          <td rowspan="<%= p.parts_count %>" class="reference-number"><%= link_to p.reference_number, edit_admin_unit_component_path(Admin::UnitComponent.find_by_unit_id_and_part_id(@unit.id, part.id)) %></td>
          <% if (p.multiple_parts? && i > 0) %>
          </tr>
          <tr class="multiple-parts">
          <% end %>
          <td class="item"><%= part.item %></td>
          <td class="description"><%= part.description %></td>
          <td class="part-number"><%= link_to part.part_number, edit_admin_part_path(part.id), :class => part_class(part) %></td>
          <td><%= link_to 'Remove from Unit', admin_unit_component_path(Admin::UnitComponent.find_by_unit_id_and_part_id(@unit, part.id)), :method => :delete, :confirm => 'Are you sure you want to remove this part from this unit?' %></td>
          <% end %>
        </tr>
        
      <% end %>
    </tbody>
  </table>
</div>
