<table cellpadding="0" cellspacing="0" width="100%" class="tablesorter" summary="Listing of transmission technical library publications">
  <thead>
    <tr>
      <th class="article">Article</th>
      <th class="authors">Author</th>
      <th class="published-date">Date</th>
    </tr>
  </thead>
  <tbody>
    <% publications.each do |publication| %>
    <tr class="<%= cycle('even', 'odd') %>">
      <td class="article">
        <% if publication.html_file? %>
          <%= link_to publication.title, publication_category_publication_title_path(category.url_friendly, publication.url_friendly) %> 
        <% else %>
          <%= publication.title %>
        <% end %>
        
        <% if publication.pdf? %>
        <span class="pdf-size">
          <%= link_to(image_tag('icons/pdf.gif', :alt => 'Download PDF'), publication.pdf.url, :class => 'download') %> <span class="filesize">(<%= number_to_human_size(publication.pdf_file_size) %>)</span>
        </span>
        <% end %>
      </td>
      <td class="authors"><%= publication_authors_list(publication) %></td>
      <td class="published-date"><%= publication_published_at(publication) %></td>
    </tr>
    <% end %>
  </tbody>
</table>