<div class="print-friendly">
  <%= link_to 'View Printer Friendly', '#', :class => 'print' %>
</div>
<h1><%= @title.title %></h1>

<% if @title.published_at? %>
  <p class="published">Published <%= publication_published_at(@title) %><% if @title.authors? %>, by <%= @title.authors.map { |a| link_to a.full_name, publication_author_path(a) }.to_sentence %><% end %></p>
<% end %>

<% if @title.description? %>
  <p><strong>Description:</strong> <%= @title.description %></p>
<% end %>  

<% if @title.html_file? %>
  <div class="publication-body">
    <%= @title.html_file %>
  </div>
<% end %>
