<%= render :partial => 'layouts/shared/print.html.erb', :locals => { :print_url => publication_title_path(@title, :format => 'print') } %>
<h1><%= @title.title %></h1>

<% if @title.published_at? %>
  <p class="published">Published <%= publication_published_at(@title) %><% if @title.authors? %>, by <%= @title.authors.map(&:full_name).to_sentence %><% end %></p>
<% end %>

<% if @title.description? %>
  <p><strong>Description:</strong> <%= @title.description %></p>
<% end %>  

<% if @title.html_file? %>
  <div class="publication-body">
    <%= @title.html_file %>
  </div>
<% end %>
