<h1><%= @title.title %></h1>

<% if @title.published_at? %>
  <p class="published">Published on <%= @title.published_at.to_s(:month_day_year) %></p>
<% end %>

<% if @title.authors? %>
  <h2>Author(s)</h2>
  <p><%= @title.authors.map { |a| link_to a.full_name, publication_author_path(a) }.to_sentence %></p>
<% end %>

<% if @title.description? %>
  <p><strong>Description:</strong> <%= @title.description %></p>
<% end %>  

<% if @title.pdf? %>
  <h2>Download</h2>
  <p><%= link_to @title.pdf_file_name, @title.pdf.url, :class => 'download' %> (<%= number_to_human_size(@title.pdf_file_size, :precision => 2) %>)</p>
<% end %>

<% if @title.html_file? %>
  <div class="publication-body">
    <%= @title.html_file %>
  </div>
<% end %>