<% if @unit %>
  <%= image_tag @unit.reference_figure.avatar.url(:medium) %>
<% end %>

<% form_for :cart, @cart, :url => add_multiple_cart_path do |f| %>
<div id="<%= dom_id(product_line, :parts) %>" class="parts group">
  <table cellpadding="0" class="parts" summary="Listing of Parts for <%= product_line.name %>">
    <thead>
      <th class="reference-number">Ref. No</th>
      <th class="item">Item</th>
      <th class="description">Description</th>
      <th class="part-number">Part Number</th>
      <th class="quantity">Quantity</th>
    </thead>
    <tbody>
      <% @collection_presenter.parts_by_reference_number.each do |p| %>
        <tr>
          <td rowspan="<%= p.parts_count %>" class="reference-number"><%= p.reference_number %></td>
        <% p.parts.each_with_index do |part,i| %>
          <% if (p.multiple_parts? && i > 0) %>
          </tr>
          <tr class="multiple-parts">
          <% end %>
          <td class="item"><%= part.item %></td>
          <td class="description"><%= part.description %></td>
          <td class="part-number"><%= link_to part.part_number, product_line_part_path(product_line.url_friendly, part), :class => part_class(part) %></td>
          <td class="quantity">
            <% if part.part_number? %> 
              <%= hidden_field_tag "cart[parts][#{i}][][part_id]", part.id %>
              <%= hidden_field_tag "cart[parts][#{i}][][part_number]", part.part_number %>
              <%= text_field_tag "cart[parts][#{i}][][quantity]", '', :size => 2 %>
            <% end %>
          </td>
          <% end %>
        </tr>
        
      <% end %>
    </tbody>
  </table>
</div>

<ul class="ordering-options">
  <li><%= link_to 'View Cart', cart_path %></li>
  <li><%= f.submit 'Add to Cart' %></li>
</ul>
<% end %>