<fieldset>
  <legend>Unit Information</legend>
  
  <div class="text name">
    <%= f.error_message_on :name %>
    <%= f.label :name, 'Name' %>
    <%= f.text_field :name %>
  </div>
  
  <div class="select product-line">
    <%= f.error_message_on :product_line_id %>
    <%= f.label :product_line_id, 'Product Line' %>
    <%= f.select :product_line_id, @product_line_options %>
  </div>
  
  <div class="select reference-figure">
    <%= f.error_message_on :reference_figure_id %>
    <%= f.label :reference_figure_id, 'Reference Figure' %>
    <%= f.select :reference_figure_id, @reference_figure_options, :include_blank => ' -- None -- ' %>
  </div>
  
  <div class="textarea description">
    <%= f.error_message_on :description %>
    <%= f.label :description, 'Description' %>
    <%= f.text_area :description, :cols => 30, :rows => 10 %>
  </div>
</fieldset>
<% if @make_options.any? %>
<fieldset>
	<legend>Make Information</legend>
	<p>The makes that this unit will be attached to.</p>
	<%= hidden_field_tag "unit[make_ids][]", '' %>
	<% content_tag :div, :class => 'makes' do -%>
		<% @make_options.each do |s| -%>
			<% div_for s do %>
				<label>
					<%= check_box_tag "unit[make_ids][]", s.id, @unit.makes.include?(s) %>
					<%= s.name %>
				</label>
			<% end -%>
		<% end -%>
	<% end -%>
</fieldset>
<% end %>