<fieldset>
  <legend>Title Information</legend>
  
  <div class="text title">
    <%= f.error_message_on :title %>
    <%= f.label :title, 'Title' %>
    <%= f.text_field :title %>
  </div>

  <div class="textarea description">
    <%= f.error_message_on :description %>
    <%= f.label :description, 'Description' %>
    <%= f.text_area :description, :cols => 30, :rows => 10 %>
  </div>
  
  <div class="text volume-number">
    <%= f.error_message_on :volume_number %>
    <%= f.label :volume_number, 'Volume Number' %>
    <%= f.text_field :volume_number %>
  </div>
  
  <div class="date published-at">
    <%= f.error_message_on :published_at %>
    <%= f.label :published_at, 'Date Published' %>
    <%= f.date_select :published_at, :discard_day => true, :order => [:month, :year], :start_year => 1981, :end_year => (Time.now.year + 10), :prompt => { :day => 'Select day', :year => 'Select year' } %>
  </div>
  
  <div class="file-upload text pdf">
    <% if @publication_title.pdf? %>
    <div id="<%= dom_id(@publication_title, :pdf) %>">
      <p><strong>Current PDF Attachment</strong></p>
      <%= link_to 'View Current PDF', @publication_title.pdf.url %> (<%= link_to 'Remove', remove_pdf_admin_publication_title_path(@publication_title), :class => 'destroy' %>)
    </div>
    <% end %>
    <%= f.error_message_on :pdf %>
    <%= f.label :pdf, 'Attached PDF' %>
    <%= f.file_field :pdf %>
  </div>
</fieldset>
<fieldset>
  <legend>HTML Content</legend>

  <div class="text html-content">
    <%= f.error_message_on :html_content %>
    <%= f.label :html_content, 'HTML Content' %>
    <%= f.text_area :html_content, :cols => 50, :rows => 20 %>
  </div>
</fieldset>
<% if @subject_options.any? %>
<fieldset>
	<legend>Subject Information</legend>
	<p>The subjects that this title will be attached to.</p>
	<%= hidden_field_tag "publication_title[subject_ids][]", '' %>
	<% content_tag :div, :class => 'subjects' do -%>
		<% @subject_options.each do |s| -%>
			<% div_for s do %>
				<label>
					<%= check_box_tag "publication_title[subject_ids][]", s.id, @publication_title.subjects.include?(s) %>
					<%= s.title %>
				</label>
			<% end -%>
		<% end -%>
	<% end -%>
</fieldset>
<% end %>
