<h1>Catalog Request</h1>
<p>Received: <%= @catalog_request.created_at.to_s(:month_day_year) %></p>

<h2>Visitor Information</h2>
<p>Name: <%= @catalog_request.name %></p>
<p>Company: <%= @catalog_request.company %></p>
<p>Type of Business: <%= @catalog_request.type_of_business %></p>
<p>Address: <%= @catalog_request.address %></p>
<p>City: <%= @catalog_request.city %></p>
<p>State: <%= @catalog_request.state %></p>
<p>Postal Code: <%= @catalog_request.postal_code %></p>
<p>Country: <%= @catalog_request.country %></p>
<p>Telephone: <%= @catalog_request.phone_number %></p>
<p>E-Mail: <%= @catalog_request.email_address %></p>


<h2>Catalog Information</h2>
<p>I would like to receive the following catalogs:</p>
<ul>
<% @catalog_request.catalogs_hash.each do |catalog| %>
  <li><%= catalog %></li>
<% end %>
</ul>
