<h1>Contact</h1>

<h2>Visitor Information</h2>
<p>Name: <%= @contact.name %></p>
<p>E-Mail: <%= @contact.email %></p>
<p>Company: <%= @contact.company %></p>
<p>Phone Number: <%= @contact.phone_number %></p>

<h2>Message</h2>
<p><%= @contact.message %></p>
