Quote Request
Received: <%= @order.created_at.to_s(:month_day_year) %>

Visitor Information
Name: <%= @order.name %>
Company: <%= @order.company %>
Postal Code: <%= @order.postal_code %>
E-Mail: <%= @order.email %>
Shipping Method: <%= @order.formatted_shipping_method %>
OK to Round: <%= @order.should_round_quantities %>
P.O. Number: <%= @order.po_number %></p>
Comments: <%= @order.comments %>

Parts Information
<% if @order.line_items? %>
  <% @order.line_items.each do |line_item| %>
    <%= line_item.quantity %> <%= line_item.part.part_number %> <%= line_item.part.item %> <%= line_item.part.description %>
  <% end %>
<% else %>
  No parts provided!
<% end %>
