<h1>Quote Request</h1>
<p>Received: <%= @order.created_at.to_s(:month_day_year) %></p>

<h2>Visitor Information</h2>
<p>Name: <%= @order.name %></p>
<p>Company: <%= @order.company %></p>
<p>Postal Code: <%= @order.postal_code %></p>
<p>E-Mail: <%= @order.email %></p>
<p>Shipping Method: <%= @order.formatted_shipping_method %></p>
<p>OK to Round: <%= @order.should_round_quantities %></p>
<p>P.O. Number: <%= @order.po_number %></p>
<p>Comments: <%= @order.comments %></p>

<h2>Parts Information</h2>
<% if @order.line_items? %>
<style type="text/css" media="screen">
  table th {
    text-align: left;
  }
</style>
<table cellpadding="0" cellspacing="0" width="100%">
  <thead>
    <th>Quantity</th>
    <th>Part Number</th>
    <th>Item</th>
    <th>Description</th>
  </thead>
  <tbody>
    <% @order.line_items.each do |line_item| %>
    <tr>
      <td><%= line_item.quantity %></td>
      <td><%= line_item.part.part_number %></td>
      <td><%= line_item.part.item %></td>
      <td><%= line_item.part.description %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <p><strong>No parts provided!</strong></p>
<% end %>
