<h1>Solenoid Core Purchase Program</h1>

<h2>Visitor Information</h2>
<p>Name: <%= @solenoid.name %></p>
<p>Company: <%= @solenoid.company %></p>
<p>Address: <%= @solenoid.address %></p>
<p>City: <%= @solenoid.city %></p>
<p>State: <%= @solenoid.state %></p>
<p>Postal Code: <%= @solenoid.postal_code %></p>
<p>Telephone: <%= @solenoid.phone %></p>
<p>E-Mail: <%= @solenoid.email %></p>
<p>Fax: <%= @solenoid.fax %></p>


<h2>Core Information</h2>
<p>Approximate Number of Cores: <%= @solenoid.number_of_cores %></p>
<p>Core Applications: <%= @solenoid.core_applications %></p>
