<div id="new-parts" class="transmission">
  <h1>New Parts for <%= @product_line.name %></h1>
  <p>This list will change as new product arrives so please check back frequently.</p>
  
  <div class="options group">
    <ul>
      <li><%= link_to 'Valve Body Layouts', valve_body_layouts_path %></li>
    </ul>
  </div>
  
  <div class="parts-wrapper">
    <% if @parts.any? %>
      <%= render :partial => 'product_lines/transmission/parts', :locals => { :product_line => @product_line, :parts => @parts } %>
    <% else %>
      <%= render :partial => 'product_lines/transmission/no_parts', :locals => { :product_line => @product_line } %>
    <% end %>
  </div>
  
  <%= link_to 'Find a Distributor', distributor_by_country_path('USA') %>
</div>