<div id="product-line" class="torque-converter">
  <h1><%= @product_line.name %> <em>Part and Application Finder</em></h1>
  
  <div class="options-wrapper group">
    <div class="filter group">
      <% form_for :filter, @form_presenter, :url => @form_presenter.url, :html => { :method => :get, :class => 'group' } do |f| %>
      <fieldset>
        <legend>Filtering Options</legend>
        <div id="filter-options" class="group">
          <div class="make-units">
            <div class="make-selector">
              <%= f.label :make, 'Make:' %>
              <%= f.select :make, @form_presenter.make_options, :include_blank => '-- Select Make --', :selected => @form_presenter.make_id %>
            </div>
  
            <div class="unit-selector">
              <%= f.label :unit, 'Unit:' %>
              <%= f.select :unit, @form_presenter.unit_options, :include_blank => '-- Select Unit --', :selected => @form_presenter.unit_id %>
            </div>
          </div>
  
          <div class="submit">
            <%= f.submit 'Filter' %>
          </div>
        </div>
      </fieldset>
      <% end %>
    </div>
    <div class="separator">
      <em>or</em>  
    </div>
    
    <div class="search group">
      <% form_for :search, @search_form_presenter, :url => @search_form_presenter.url, :html => { :method => :get, :class => 'group' } do |f| %>
      <fieldset>
        <legend>Search</legend>
        <div id="search-options" class="group">
          <div class="search-terms">
            <%= f.label :q, 'Part No.:' %>
            <%= f.text_field :q %>
          </div>
        </div>
  
        <div class="submit">
          <%= f.submit 'Search' %>
        </div>
      </fieldset>
      <% end %>
    </div>
  </div>
  
  
  <div class="parts-wrapper">
    <% if @parts.any? %>
      <%= render :partial => 'admin/product_lines/torque_converter/search/parts', :locals => { :product_line => @product_line, :parts => @parts } %>
    <% else %>
      <%= render :partial => 'admin/parts_manager/index_by_product_line/search/no_results', :locals => { :product_line => @product_line } %>
    <% end %>
  </div>
</div>
