<div id="makes">
  <h1>Makes</h1>
  <div class="add-new"><%= link_to 'Add New Make', new_admin_make_path, :class => 'create' %></div>
  <% if @makes.any? %>
    <table cellpadding="0" cellspacing="0" summary="Listing of Makes" width="100%">
      <thead>
        <tr>
          <th>Name</th>
          <th class="options"></th>
        </tr>
      </thead>
      <tbody>
        <% @makes.each do |make| %>
        <tr id="<%= dom_id(make) %>">
          <td><%= make.name %></td>
          <td class="options">
            <ul>
              <li><%= link_to 'Edit', edit_admin_make_path(make), :class => 'edit' %></li>
              <li><%= link_to 'Delete', admin_make_path(make), :class => 'destroy' %></li>
            </ul>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
  <p>There are no Makes.</p>
  <% end %>
</div>