<div id="part" class="high-performance-transmission">
  <h1><%= @part.part_number %></h1>
  
  <div id="col-1">
    <div class="description">
      <% if @part.primary_photo? %>
        <%= image_tag @part.primary_photo.photo.asset.url(:medium) %>
      <% end %>
      <%= @part.description %>
    </div>
  </div>
  
  <div id="col-2">
    <div class="resources">
      <h2>Resources</h2>
      <% if @part.part_assets.any? %>
        <% @part.part_assets.each do |pa| %>
        <li><%= link_to pa.asset.asset_file_name, pa.asset.asset.url %> (<%= pa.part_asset_type.name %>)</li>
        <% end %>
      <% end %>
    </div>

    <div class="more-information">
      <h2>More Information</h2>
      <ul>
        <li><%= link_to "High Performance Transmission Part Finder", '#' %></li>
        <li><%= link_to "High Performance Distributor", high_performance_distributors_path %></li>
      </ul>
    </div>
  </div>
</div>