<div id="part" class="transmission">
  <h1><%= @part.part_number %></h1>
  
  <div id="col-1">
    <div class="details">
      <div class="photo">
        <% if @part.primary_photo? %>
          <%= image_tag @part.primary_photo_src %>
        <% end %>
      </div>
    </div>
  </div>
  
  <div id="col-2">
    <div class="info">
      <div class="meta">
        <div class="part-number"><strong>Part Number:</strong> <%= @part.part_number %></div>

        <% if @part.redirected? %>
          <div class="redirect">
            <p><strong>This part was redirected</strong></p>
          </div>
        <% end %>

        <div class="description">
          <p><%= @part.description %></p>
        </div>
      </div>
      
      <div class="make-unit">
        <% if @part.makes? %>
          <ul>
          <% @part.makes.each do |make| %>
            <li>
            <strong><%= make.make_name %>: </strong> 
            <% if @part.units_for_make(make.make_id).any? %>
              <%= @part.units_for_make(make.make_id).map { |u| link_to(u.name, filter_product_line_parts_path(@part.product_line.url_friendly, :"filter[make]" => make.make_id, :"filter[unit]" => u.id)) }.join(', ') %>
            <% end %>
            </li>
          <% end %>
        </ul>
        <% end %>
        
      </div>
      
      
    </div>
    <div class="resources">
      <h2>Resources</h2>
      <% if @part.part_assets.resources.any? %>
        <% @part.part_assets.resources.each do |pa| %>
        <li><%= link_to pa.part_asset_type.name, pa.asset.asset.url %> <span class="filesize">(<%= number_to_human_size(pa.asset.asset_file_size) %> PDF)</span></li>
        <% end %>
      <% end %>
    </div>
    
    <div class="more-information">
      <h2>More Information</h2>
      <ul>
        <li><%= link_to "Find a Distributor", distributors_path %></li>
      </ul>
    </div>

  </div>
</div>
