<div id="part" class="transmission">
  <h1><%= @part.part_number %></h1>
  
  <div id="col-1">
    <div class="description">
      <% if @part.primary_photo? %>
        <%= image_tag @part.primary_photo.photo.asset.url(:medium) %>
      <% end %>
      <%= @part.description %>
    </div>
  </div>
  
  <div id="col-2">
    <div class="resources">
      <h2>Resources</h2>
      <% if @part.part_assets.resources.any? %>
        <% @part.part_assets.resources.each do |pa| %>
        <li><%= link_to pa.part_asset_type.name, pa.asset.asset.url %> (PDF)</li>
        <% end %>
      <% end %>
    </div>

    <div class="more-information">
      <h2>More Information</h2>
      <ul>
        <li><%= link_to "Transmission Specialties&reg; Finder", '#' %></li>
        <li><%= link_to "Find a Transmission Specialties&reg; Publication", '#' %></li>
        <li><%= link_to "Find a Transmission Specialties&reg; Distributor", distributors_path %></li>
        <li><%= link_to 'View a complete listing of High Performance Transmission Parts', high_performance_transmission_path %></li>
      </ul>
    </div>
  </div>
</div>