<h1><%= @distributor.name %></h1>

<p><strong>City:</strong> <%= @distributor.city %></p>
<p><strong>State:</strong> <%= @distributor.state %></p>
<p><strong>Country:</strong> <%= @distributor.country %></p>

<p><strong>Phone Number:</strong> <%= @distributor.phone_number %></p>
<p><strong>Website URL:</strong> <%= link_to @distributor.formatted_website_url, @distributor.formatted_website_url, :rel => 'external' %></p>

<p><%= link_to 'View all Distributors', distributors_path %></p>