<fieldset>
  <legend>Category Information</legend>
  
  <div class="text name">
    <%= f.error_message_on :name %>
    <%= f.label :name, 'Name' %>
    <%= f.text_field :name %>
  </div>
  
  <div class="textarea description">
    <%= f.error_message_on :description %>
    <%= f.label :description, 'Description' %>
    <%= f.text_area :description, :cols => 30, :rows => 10 %>
  </div>
  
</fieldset>