<div id="speed-order">
  <h1>To Order</h1>
  <p>To purchase Sonnax parts, prospective buyers for Sonnax transmission or high performance transmission parts should contact a <%= link_to 'Transmission Distributor', distributor_by_country_path('USA') %>. For other product lines, please <%= link_to 'Contact Us', new_contact_path %> for account requirements.</p>

	<p>Our Speed Order Form allows authorized customers to quickly place orders from the Sonnax web site for Torque Converter, Transmission, High Performance Transmission and/or Allison products. Orders can easily be entered on the Form and sent to Sonnax; however, only orders from authorized customers will be filled.</p>
  
  <h2>To Use Speed Order Form</h2>
  <p>You can order from more than one product line on the same order; however, you can only select parts from one product line at a time. Select the first product line, enter those part numbers and quantities, then click the Add to Cart button. From the cart, click Continue Speed Order, and select the next product line. All ordered items will be compiled in the Order Cart for your review prior to submitting the order to Sonnax.</p>
  
  <% if flash[:errors] %>
  <div class="notice">
    <p>
      <ul>
        <% @cart.errors.each do |err| %>
        <li><%= err.message %></li>
        <% end %>
      </ul>
    </p>
  </div>
  <% end %>
    
  <% form_for :speed_order, @speed_order, :url => add_speed_order_path do |f| %>
    
    <div class="select publication-id">
      <%= f.label :product_line_id, 'Select product line for this section of your order' %>
      <%= f.select :product_line_id, @product_line_options, :selected => @selected_product_line.id %>
    </div>
    
    <table cellpadding="0" cellspacing="0" width="50%" class="base">
      <thead>
        <th>Part Number</th>
        <th>Quantity</th>
      </thead>
      
      <tbody>
        <% (1..10).each do |row| %>
        <tr>
          <td><%= text_field_tag "speed_order[parts][#{row}][][part_number]", '', :size => 35 %></td>
          <td><%= text_field_tag "speed_order[parts][#{row}][][quantity]", '', :size => 2 %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    
    <fieldset class="submit">
      <%= f.submit 'Add to Cart' %>
    </fieldset>
  <% end %>
</div>