<div id="catalog-request">
  <h1>Request Catalogs</h1>
  <p>Just a click away, you will find online versions of some of these catalogs. For any printed catalog, CD or DVD we have available to send, please select, then fill in all the fields below</p>
  
  <% form_for :catalog_request, @catalog_request, :url => catalog_request_path do |f| %>
  <fieldset>
    <legend>Catalog Information</legend>
    
    <%= f.error_message_on :catalogs_hash %>
    <ul class="catalogs group">
      <li>
        <img src="/images/catalogs/ts7cover-cd.jpg" alt="Transmission Specialties&reg; Catalog, Volume 7" width="155" height="160">
        <h2>Transmission Specialties&reg; Catalog, Volume 7 on CD Available Now!</h2>
        <%= check_box_tag "catalog_request[catalogs_hash][]", @catalogs.ts_volume_7, @catalog_request.catalogs_hash.include?(@catalogs.ts_volume_7) %>
      </li>
      
      <li>
        <img src="/images/catalogs/diagnostic-guide-cover-web.jpg" alt="Transmission Specialties&reg; Diagnostic Guide" width="144" height="186">
        <h2>Transmission Specialties&reg; Diagnostic Guide</h2>
        <%= check_box_tag "catalog_request[catalogs_hash][]", @catalogs.ts_diagnostic_guide, @catalog_request.catalogs_hash.include?(@catalogs.ts_diagnostic_guide) %>
      </li>
      
      <li>
        <img src="/images/catalogs/DVD-catalog-page.jpg" alt="Valve Body Training DVD" width="144" height="144">
        <h2>Valve Body Training DVD</h2>
        <%= check_box_tag "catalog_request[catalogs_hash][]", @catalogs.valve_body_training, @catalog_request.catalogs_hash.include?(@catalogs.valve_body_training) %>
      </li>
      
      <li>
        <img src="/images/catalogs/NPA.jpg" alt="Transmission Specialties New Product Advisory Feb 2009" width="144" height="188">
        <h2>Transmission Specialties&reg; New Product Advisory</h2>
        <%= check_box_tag "catalog_request[catalogs_hash][]", @catalogs.ts_new_product_advisory, @catalog_request.catalogs_hash.include?(@catalogs.ts_new_product_advisory) %>
        
        <div class="extra">
          <p>Access New Parts since Volume 7 Catalog <a href="http://www.sonnax.com/part_finder.php?pl=3&amp;new_only=true">HERE</a></p></p>
        </div>
      </li>
      
      <li>
        <img src="/images/catalogs/2006-tcpc-cover.jpg" alt="Torque Converter Catalog, Volume 6" width="144" height="188">
        <h2>Torque Converter Catalog, Volume 6</h2>
        
        <div class="extra">
          <p>You can access the online catalog pages <a href="part_finder.php?pl=2">HERE</a></p>
        </div>
      </li>
      
      <li>
        <img src="/images/catalogs/2006_h_p_cover_web.jpg" alt="High Performance Catalog, Volume 6" width="144" height="185">
        <h2>High Performance Catalog, Volume 6</h2>
        
        <div class="extra">
          <p>Access the online catalog pages <a href="part_finder.php?pl=1">HERE</a></p>
        </div>
      </li>
      
      <li>
        <img src="/images/catalogs/allison-vol2-cover-photo.jpg" alt="Allison Replacement Parts" width="144" height="189">
        <h2>Allison Replacement Parts</h2>
        <%= check_box_tag "catalog_request[catalogs_hash][]", @catalogs.allison_replacement_parts, @catalog_request.catalogs_hash.include?(@catalogs.allison_replacement_parts) %>
      </li>
      
      <li>
        <img src="/images/catalogs/PTS-catalog-thumbnail.png" alt="PowerTrainSavers Catalog" width="144" height="186">
        <h2>PowerTrainSavers&reg; Catalog, 2009</h2>
        <%= check_box_tag "catalog_request[catalogs_hash][]", @catalogs.pts_catalog, @catalog_request.catalogs_hash.include?(@catalogs.pts_catalog) %>
      </li>
      
      <li>
        <img src="/images/catalogs/driveline-thumb.png" alt="Driveline Brochure" width="144" height="186">
        <h2>Driveline Brochure</h2>
        <%= check_box_tag "catalog_request[catalogs_hash][]", @catalogs.driveline_brochure, @catalog_request.catalogs_hash.include?(@catalogs.driveline_brochure) %>
      </li>
      
      <li>
        <img src="/images/catalogs/2006-spanish-diagnosticD1.jpg" alt="Diagnostic Guide en Espa&ntilde;ol" width="144" height="186">
        <h2>Diagnostic Guide en Espa&ntilde;ol</h2>
        
        <div class="extra">
          <p>Get one from a <%= link_to 'Transmission Specialties Distributor', distributor_by_country_path('USA') %></p>
        </div>
      </li>
      
      <li>
        <img src="/images/catalogs/Spanish-TS3.jpg" alt="Transmission Specialties&reg; en Espa&ntilde;ol" width="144" height="187">
        <h2>Transmission Specialties&reg; en Espa&ntilde;ol</h2>
      </li>
      
      <li>
        <img src="/images/catalogs/chinese_cover.jpg" alt="Transmission Specialties&reg; in Chinese" width="144" height="189">
        <h2>Transmission Specialties&reg; in Chinese</h2>
      </li>
      
      <li>
        <img src="/images/catalogs/tc-catalog-chinese.jpg" alt="TC Catalog in Chinese" width="133" height="188" align="top">
        
        <div class="extra">
          <p>To download TC catalog in Chinese click <a href="/downloads/catalogs/tc-catalog-chinese-3.pdf">here</a> (3.3MB PDF)</p>
        </div>
      </li>
      
      <li>
        <img src="/images/catalogs/harley-flyer-cover-web.jpg" alt="Harley-Davidson&reg; Catalog" width="144" height="188">
        <h2>Harley-Davidson&reg; Catalog</h2>
        <%= check_box_tag "catalog_request[catalogs_hash][]", @catalogs.hd_catalog, @catalog_request.catalogs_hash.include?(@catalogs.hd_catalog) %>
      </li>
      
      <li>
        <img src="/images/catalogs/ringgear-cover-web.jpg" alt="Ring Gear Spec Sheet" width="144" height="188">
        <h2>Ring Gear Spec Sheet</h2>
        <%= check_box_tag "catalog_request[catalogs_hash][]", @catalogs.rg_spec_sheet, @catalog_request.catalogs_hash.include?(@catalogs.rg_spec_sheet) %>
      </li>
      
      <li>
        <a href="/downloads/catalogs/sonnax-trans-report_v1n1.pdf"><img src="/images/catalogs/transreportv1n1.gif" alt="Transmission Report" width="145" height="188"></a>
        <h2>Transmission Report</h2>
        <%= check_box_tag "catalog_request[catalogs_hash][]", @catalogs.transmission_report, @catalog_request.catalogs_hash.include?(@catalogs.transmission_report) %>
      </li>
    </ul>    
  </fieldset>
  
  <fieldset>
    <legend>Your Information</legend>
    
    <div class="text name">
      <%= f.error_message_on :name %>
      <%= f.label :name, '<span class="required">*</span> Name' %>
      <%= f.text_field :name %>
    </div>
    
    <div class="text company">
      <%= f.error_message_on :company %>
      <%= f.label :company, '<span class="required">*</span> Company' %>
      <%= f.text_field :company %>
    </div>
    
    <div class="text type-of-business">
      <%= f.error_message_on :type_of_business %>
      <%= f.label :type_of_business, '<span class="required">*</span> Type of Business' %>
      <%= f.text_field :type_of_business %>
    </div>
    
    <div class="text address">
      <%= f.error_message_on :address %>
      <%= f.label :address, '<span class="required">*</span> Address' %>
      <%= f.text_field :address %>
    </div>
    
    <div class="text city">
      <%= f.error_message_on :city %>
      <%= f.label :city, '<span class="required">*</span> City' %>
      <%= f.text_field :city %>
    </div>
    
    <div class="text state">
      <%= f.error_message_on :state %>
      <%= f.label :state, '<span class="required">*</span> State' %>
      <%= f.text_field :state %>
    </div>
    
    <div class="text postal-code">
      <%= f.error_message_on :postal_code %>
      <%= f.label :postal_code, '<span class="required">*</span> Zip Code' %>
      <%= f.text_field :postal_code %>
    </div>
    
    <div class="text country">
      <%= f.error_message_on :country %>
      <%= f.label :country, '<span class="required">*</span> Country' %>
      <%= f.text_field :country %>
    </div>
    
    <div class="text phone-number">
      <%= f.error_message_on :phone_number %>
      <%= f.label :phone_number, '<span class="required">*</span> Phone Number' %>
      <%= f.text_field :phone_number %>
    </div>
    
    <div class="text email-address">
      <%= f.error_message_on :email_address %>
      <%= f.label :email_address, '<span class="required">*</span> E-Mail Address' %>
      <%= f.text_field :email_address %>
    </div>
  </fieldset>
  
  <fieldset class="submit">
    <%= f.submit 'Request Catalogs' %>
  </fieldset>
  <% end %>
</div>

