<div id="catalog-request">
  <h1>Request Catalogs</h1>
  <p>Just a click away, you will find online versions of some of these catalogs. For any printed catalog, CD or DVD we have available to send, please select, then fill in all the fields below</p>
  
  <% form_for :catalog_request, @catalog_request, :url => catalog_request_path do |f| %>
  <fieldset>
    <legend>Catalog Information</legend>
    
    <%= f.error_message_on :catalogs_hash %>
    <ul class="catalogs group">
      <li>
        <img src="/images/catalogs/TransmissionCover.jpg" alt="Transmission Products Catalog, Volume 8">
        <h2>Transmission Products Catalog, Volume 8<br>
        Catalog: <%= check_box_tag "catalog_request[catalogs_hash][]", @catalogs.ts_volume_8, @catalog_request.catalogs_hash.include?(@catalogs.ts_volume_8) %>
        &nbsp;CD: <%= check_box_tag "catalog_request[catalogs_hash][]", @catalogs.ts_volume_8, @catalog_request.catalogs_hash.include?(@catalogs.ts_volume_8_cd) %></h2>
        <div class="extra">
          <p>For up-to-date  listing use the <%= link_to 'Part and Application Finder', product_line_parts_path('transmission') %></p>
        </div>
      </li>

      <li>
        <img src="/images/catalogs/TCCover.jpg" alt="Torque Converter Parts Catalog, Volume 6">
        <h2>Torque Converter Parts Catalog <%= check_box_tag "catalog_request[catalogs_hash][]", @catalogs.Torque_Converter_Catalog, @catalog_request.catalogs_hash.include?(@catalogs.Torque_Converter_Catalog) %></h2>
        
        <div class="extra">
          <p>For up-to-date listing use the <%= link_to 'Part and Application Finder', product_line_parts_path('torque-converter') %></p>
        </div>
      </li>

      <li>
        <img src="/images/catalogs/AllisonCover.jpg" alt="Allison Replacement Parts">
        <h2>Allison Replacement Parts Catalog <%= check_box_tag "catalog_request[catalogs_hash][]", @catalogs.allison_replacement_parts, @catalog_request.catalogs_hash.include?(@catalogs.allison_replacement_parts) %></h2>
        
        <div class="extra">
          <p>For up-to-date listing use the <%= link_to 'Part and Application Finder', product_line_parts_path('allison') %></p>
        </div>
      </li>
      
      <li>
        <img src="/images/catalogs/PTSCover.png" alt="Power Train Savers Products Catalog">
        <h2>Power Train Savers Products Catalog <%= check_box_tag "catalog_request[catalogs_hash][]", @catalogs.pts_catalog, @catalog_request.catalogs_hash.include?(@catalogs.pts_catalog) %></h2>
        
        <div class="extra">
          <p>For up-to-date listing see the Parts Listing</p>
        </div>
      </li>
      
      <li>
        <img src="/images/catalogs/DrivelineCover.jpg" alt="Driveline Catalog">
        <h2>Driveline Catalog <%= check_box_tag "catalog_request[catalogs_hash][]", @catalogs.driveline_catalog, @catalog_request.catalogs_hash.include?(@catalogs.driveline_catalog) %></h2>
        
        <div class="extra">
          <p>For up-to-date listing see the Parts Listing</p>
        </div>
      </li>
      
      <li>
        <img src="/images/catalogs/RingGearCover.jpg" alt="Ring Gear Spec Sheet">
        <h2>Ring Gear Catalog <%= check_box_tag "catalog_request[catalogs_hash][]", @catalogs.rg_spec_sheet, @catalog_request.catalogs_hash.include?(@catalogs.rg_spec_sheet) %></h2>
        
        <div class="extra">
          <p>For up-to-date listing see the Parts Listing</p>
        </div>
      </li>
      
      <li>
        <img src="/images/catalogs/HarleyDavidsonCover.gif" alt="Harley-Davidson&reg; Catalog">
        <h2>Harley-Davidson<sup>&reg;</sup> Catalog <%= check_box_tag "catalog_request[catalogs_hash][]", @catalogs.hd_catalog, @catalog_request.catalogs_hash.include?(@catalogs.hd_catalog) %></h2>
        
        <div class="extra">
          <p>For up-to-date listing see the Parts Listing</p>
        </div>
      </li>
      
      <li>
        <img src="/images/catalogs/ValveBodyTraining.jpg" alt="Valve Body Training DVD">
        <h2>Valve Body Training DVD <%= check_box_tag "catalog_request[catalogs_hash][]", @catalogs.valve_body_training, @catalog_request.catalogs_hash.include?(@catalogs.valve_body_training) %></h2>
        
      </li>

      <li>
        <img src="/images/catalogs/SpanishTransmissionCover.jpg" alt="Transmission Specialties&reg; en Espa&ntilde;ol">
        <h2>Transmission Specialties<sup>&reg;</sup> en Espa&ntilde;ol <%= check_box_tag "catalog_request[catalogs_hash][]", @catalogs.transmission_espanol, @catalog_request.catalogs_hash.include?(@catalogs.transmission_espanol) %></h2>
        
      </li>
      
      <li>
        <img src="/images/catalogs/SpanishDiagnosticCover.jpg" alt="Diagnostic Guide en Espa&ntilde;ol">
        <h2>Diagnostic Guide en Espa&ntilde;ol <%= check_box_tag "catalog_request[catalogs_hash][]", @catalogs.diagnostic_espanol, @catalog_request.catalogs_hash.include?(@catalogs.diagnostic_espanol) %></h2>
        
      </li>
      
      <li>
        <img src="/images/catalogs/ChineseTransmissionCover.jpg" alt="Transmission Specialties&reg; in Chinese">
        <h2>Transmission Specialties<sup>&reg;</sup> in Chinese <%= check_box_tag "catalog_request[catalogs_hash][]", @catalogs.transmission_chinese, @catalog_request.catalogs_hash.include?(@catalogs.transmission_chinese) %></h2>
        
      </li>
      
      <li>
        <img src="/images/catalogs/ChineseTCCover.jpg" alt="TC Catalog in Chinese" align="top">
        
        <div class="extra">
          <p><%= link_to 'Download ', '/downloads/catalogs/tc-catalog-chinese-3.pdf', :class => 'pdf' %> Torque Converter Catalog in Chinese (3.3MB PDF)</p>
        </div>
      </li>
      
      <li>
        <a href="/downloads/catalogs/sonnax-trans-report_v1n1.pdf"><img src="/images/catalogs/TransmissionReport.gif" alt="Transmission Report"></a>
        <h2>Transmission Report<%= check_box_tag "catalog_request[catalogs_hash][]", @catalogs.transmission_report, @catalog_request.catalogs_hash.include?(@catalogs.transmission_report) %></h2>
        
        
        <div class="extra">
          <p><%= link_to 'Download ', '/downloads/catalogs/sonnax-trans-report_v1n1.pdf', :class => 'pdf' %> the latest Transmission Report (3MB PDF)</p>
        </div>
      </li>
    </ul>    
  </fieldset>
  
  <fieldset>
    <legend>Your Information</legend>
    
    <div class="text name">
      <%= f.error_message_on :name %>
      <%= f.label :name, '<span class="required">*</span> Name' %>
      <%= f.text_field :name %>
    </div>
    
    <div class="text company">
      <%= f.error_message_on :company %>
      <%= f.label :company, '<span class="required">*</span> Company' %>
      <%= f.text_field :company %>
    </div>
    
    <div class="text type-of-business">
      <%= f.error_message_on :type_of_business %>
      <%= f.label :type_of_business, '<span class="required">*</span> Type of Business' %>
      <%= f.text_field :type_of_business %>
    </div>
    
    <div class="text address">
      <%= f.error_message_on :address %>
      <%= f.label :address, '<span class="required">*</span> Address' %>
      <%= f.text_field :address %>
    </div>
    
    <div class="text city">
      <%= f.error_message_on :city %>
      <%= f.label :city, '<span class="required">*</span> City' %>
      <%= f.text_field :city %>
    </div>
    
    <div class="text state">
      <%= f.error_message_on :state %>
      <%= f.label :state, '<span class="required">*</span> State' %>
      <%= f.text_field :state %>
    </div>
    
    <div class="text postal-code">
      <%= f.error_message_on :postal_code %>
      <%= f.label :postal_code, '<span class="required">*</span> Zip Code' %>
      <%= f.text_field :postal_code %>
    </div>
    
    <div class="text country">
      <%= f.error_message_on :country %>
      <%= f.label :country, '<span class="required">*</span> Country' %>
      <%= f.text_field :country %>
    </div>
    
    <div class="text phone-number">
      <%= f.error_message_on :phone_number %>
      <%= f.label :phone_number, '<span class="required">*</span> Phone Number' %>
      <%= f.text_field :phone_number %>
    </div>
    
    <div class="text email-address">
      <%= f.error_message_on :email_address %>
      <%= f.label :email_address, '<span class="required">*</span> E-Mail Address' %>
      <%= f.text_field :email_address %>
    </div>
  </fieldset>
  
  <fieldset class="submit">
    <%= f.submit 'Request Catalogs' %>
  </fieldset>
  <% end %>
</div>

