<div id="product-line" class="high-performance-transmission">
  <h1><%= @product_line.name %></h1>
  <div id="col-1">
    <div class="description">
      <%= @product_line.description %>
    </div>
    
    <ul>
      <li><%= link_to 'Part and Application Finder', product_line_parts_path(@product_line.url_friendly) %></li>
      <li><%= link_to 'New Parts', recent_product_line_parts_path(@product_line.url_friendly) %></li>
      <li><%= link_to 'Distributors', distributors_path %></li>
      <li><%= link_to 'Email Sign Up', subscribe_to_email_newsletter_path, :class => 'email' %></li>
      <li><%= link_to 'Contact Us', new_contact_path %></li>
    </ul>
  </div>
  
  <div id="col-2">
    <% if @product_line.featured_parts.any? %>
    <div class="featured">
      <h2>Featured Part</h2>
      
      <% @product_line.featured_parts.each do |part| %>
      <div class="part">
        <% if part.primary_photo? %>
          <p><%= image_tag part.primary_photo.photo.asset.url(:medium) %></p>
        <% end %>
        <p><strong>Featured Product:</strong> <%= link_to part.name, product_line_part_path(@product_line.url_friendly, part) %></p>
        <p><strong>Make:</strong> <%= link_to part.make.name, '#' %></p>
        <p>
          <strong>Unit:</strong> 
          <% if part.units.any? %>
            <%= part.units.map(&:name).join(', ') %>
          <% end %>
        </p>
        <p class="description"><%= part.notes %></p>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
