<div id="product-line" class="power-train-savers">
  <div id="col-1">
    <h1><%= @product_line.name %></h1>
    <div class="description">
      <%= @product_line.description %>
    </div>
    
    <ul>
      <li><%= link_to 'Download Parts Catalog', '/downloads/power-train-savers/pts-online-catalog.pdf', :class => 'pdf' %></li>
      <li><%= link_to 'Installation Instructions', '/downloads/power-train-savers/pts-instructions.pdf', :class => 'pdf' %></li>
      <li><%= link_to 'View our Demonstration Video <sup>1</sup>', '/videos/power-train-savers/pts-sonnax.wmv', :class => 'wmv' %></li>
      <li><%= link_to 'Email Sign Up', subscribe_to_email_newsletter_path %></li>
      <li><%= link_to 'Frequently Asked Questions', power_train_savers_faq_path %></li>
      <li><%= link_to 'Customer Testimonials', power_train_savers_testimonies_path %></li>
      <li><%= link_to 'Contact Us', new_contact_path %></li>
    </ul>
    
    <div class="note">
      <h2>Note</h2>
      <p><sup>1</sup> Windows Media Player is required to play the video. <%= link_to 'Download Windows Media Player now', 'http://www.microsoft.com/windows/windowsmedia/player/9series', :rel => 'external' %>.</p>
    </div>
  </div>
  
  <div id="col-2">
    <%= image_tag('powertrainsaver.jpg', :width => 324, :height => 320, :alt => 'Power Train Savers') %>
  </div>
</div>
