<div id="product-line" class="power-train-savers">
  <div id="col-1">
    <h1><%= @product_line.name %></h1>
    <div class="description">
      <p>The Power Train Saver is a patented drivetrain protection device that mounts into your existing driveshaft. Once installed, this device prevents over-torque damage that can ruin differentials, gears, axles and driveshafts. In an over-torque situation, our precisely calibrated Torque Fuses<sup>&reg;</sup> shear before drivetrain damage occurs, while the unit design holds the driveshaft in place.</p>
      <p>Using a Power Train Saver doesn't just cut down on expensive drivetrain repairs. Consider the collateral damage from a broken driveshaft such as leaking or broken hydraulic lines, damaged fuel tanks, punctured air lines, etc. Then calculate the costly downtime of waiting for a wrecker and making repairs, and the benefits of installing a Power Train Saver quickly add up.</p>
    </div>
    
    <ul>
	    <li><%= link_to 'Parts Listing', power_train_savers_parts_path %></li>
      <li><%= link_to 'Email Sign Up', subscribe_to_email_newsletter_path, :class => 'email' %></li>
      <li><%= link_to 'Contact Us', new_contact_path %></li>
    </ul>
    
    <div class="note">
      <%= link_to 'View our Demonstration Video <sup>1</sup>', '/videos/power-train-savers/pts-sonnax.wmv', :class => 'wmv' %>
	  <h2>Note</h2>
      <p><sup>1</sup> Windows Media Player is required to play the video. <%= link_to 'Download Windows Media Player now', 'http://www.microsoft.com/windows/windowsmedia/player/9series', :rel => 'external' %>.</p>
    </div>
  </div>
  
  <div id="col-2">
    <%= image_tag('powertrainsaver.jpg', :width => 324, :height => 320, :alt => 'Power Train Savers') %>
  </div>
</div>
