<div id="product-line" class="torque-converter">
  <h1><%= @product_line.name %></h1>
  <div id="col-1">
    <div class="description">
      <p>Sonnax torque converter parts comprise a full line of quality components for domestic, import, industrial, racing and heavy-duty converters. Sonnax works closely with converter rebuilders around the world to develop new parts as new converters and requirements appear in the automatic transmission aftermarket. In a fast-paced and competitive marketplace, Sonnax remains committed to providing the quality product, top service and technical support customers deserve.</p>
    </div>
    
    <ul>
      <li><%= link_to 'Part and Application Finder', product_line_parts_path(@product_line.url_friendly) %></li>
      <li><%= link_to 'New Parts', recent_product_line_parts_path(@product_line.url_friendly) %></li>
      <li><%= link_to 'To Order', speed_order_path %></li>
      <li><%= link_to 'Email Sign Up', subscribe_to_email_newsletter_path, :class => 'email' %></li>
      <li><%= link_to 'Contact Us', new_contact_path %></li>
    </ul>
  </div>
  
  <div id="col-2">
    <% if @product_line.featured_parts.any? %>
    <div class="featured">      
      <% @product_line.featured_parts.each do |part| %>
      <div class="part">
        <% if part.primary_photo? %>
          <p><%= image_tag part.primary_photo.photo.asset.url(:medium) %></p>
        <% end %>
        <p><%= link_to part.name, product_line_part_path(@product_line.url_friendly, part) %></p>
        <p><strong>Make:</strong> <%= part.make.name %></p>
        <p>
          <strong>Unit:</strong> 
          <% if part.ordered_units.any? %>
            <%= part.ordered_units.map { |u| link_to(u.name, filter_product_line_parts_path(@product_line.url_friendly, :"filter[make]" => part.make.id, :"filter[unit]" => u.id)) }.join(', ') %>
          <% end %>
        </p>
        <div class="description">
          <p><%= part.item %></p>
        </div>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>