<div id="product-line" class="transmission">
  <h1><%= @product_line.name %></h1>
  <div id="col-1">
    <div class="description">
      <p>Sonnax transmission parts feature carefully designed, innovative solutions that address common complaints and help rebuilders salvage expensive automatic transmissions and valve bodies. In addition, Sonnax offers many transmission and valve body parts for the latest automotive aftermarket units; direct replacement parts with proven track records; excellent product information; in-depth phone and online technical support; and a global network of knowledgeable transmission parts distributors.</p>
    </div>
    <!-- <div id="cores">
      <%= link_to(image_tag('solenoid-cores.gif', :alt => 'Solenoid Core Purchase Program'), new_solenoid_path) %>
    </div> -->
    <ul>
      <li><%= link_to 'Part and Application Finder', product_line_parts_path(@product_line.url_friendly) %></li>
      <li><%= link_to 'New Parts', recent_product_line_parts_path(@product_line.url_friendly) %></li>
      <li><%= link_to 'Distributors', distributor_by_country_path('USA') %></li>
      <li><%= link_to 'To Order', speed_order_path(:from => @product_line.id) %></li>
      <li><%= link_to 'Email Sign Up', subscribe_to_email_newsletter_path, :class => 'email' %></li>
      <li><%= link_to 'Contact Us', new_contact_path %></li>
      <li><%= link_to 'Solenoid Core Purchase Program', new_solenoid_path %></li>
    </ul>
	

  </div>
  
  <div id="col-2">
    <div class="valve-body-layouts group">
      <%= link_to image_tag('transmission/722-6-VB-home.jpg', :width => 350, :height => 151, :alt => 'Valve Body Layouts'), valve_body_layouts_path %>
      <%= link_to 'Mercedes 722.6', valve_body_layouts_path %>
      <p>Click on image for printable valve body layouts.</p>
    </div>
  </div>
</div>
