<div id="<%= dom_id(product_line, :parts) %>" class="parts search group">
  <table cellpadding="0" class="parts" summary="Listing of Parts for <%= product_line.name %>">
    <thead>
      <th class="part-number">Part Number</th>
      <th class="item">Item</th>
      <th class="description">Description</th>
      <th class="make">Make</th>
      <th class="units">Units</th>
      <th class="quantity">Quantity</th>
    </thead>
    <tbody>
      <% @parts.each do |part| %>
      <tr>
        <td class="part-number"><%= part.part_number %></td>
        <td class="item"><%= part.item %></td>
        <td class="description"><%= part.description %></td>
        <td class="make"><%= part.make.name if part.make? %></td>
        <td class="units">
          <% if part.units.any? %>
            <%= part.units.map { |u| link_to(u.name, filter_product_line_parts_path(product_line.url_friendly, :"filter[make]" => part.make.id, :"filter[unit]" => u.id)) }.join(', ') %>
          <% end %>
        </td>
        <td class="quantity"><% if part.part_number? %><input type="text" size="2"><% end %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<% if @unit %>
  <%= image_tag @unit.reference_figure.avatar.url(:original) %>
<% end %>

<ul class="ordering-options">
  <li><%= link_to 'View Cart', '#' %></li>
  <li><input type="submit" name="submit" value="Add to Cart"></li>
</ul>