<h1>About Us</h1>
<ul>
  <li><%= link_to 'History/Mission', history_mission_path %></li>
  <li><%= link_to 'Sonnax International', international_info_path %></li>
  <li><%= link_to 'TASC<sup>&trade;</sup> Force', tasc_force_path %></li>
  <li><%= link_to 'Become a Sonnax Insider', insider_path %></li>
  <li><%= link_to 'Catalog Request', new_catalog_request_path %></li>
  <li><%= link_to 'Career Opportunities', career_opportunities_path %></li>
  <li><%= link_to 'Terms &amp; Conditions', terms_and_conditions_path  %></li>
  <li><%= link_to 'Warranty', warranty_path %></li>
  <li><%= link_to 'Contact Us', new_contact_path %></li>
</ul>
