<h1>About Us</h1>
<ul>
  <li><%= link_to 'History/Mission', history_mission_path %></li>
  <li><%= link_to 'Sonnax International', international_info_path %></li>
  <li><%= link_to 'TASC Force<sup>&trade;</sup>', tasc_force_path %></li>
  <li><%= link_to 'Catalog Request', new_catalog_request_path %></li>
  <li><%= link_to 'Career Opportunities', career_opportunities_path %></li>
  <li><%= link_to 'Schedule of Events', events_list_path %></li>
  <li><%= link_to 'Sonnax News', news_and_events_path %></li>
  <li><%= link_to 'Contact Us', new_contact_path %></li>
</ul>
