<h1>Harley Davidson&reg; Replacement Parts Distributors</h1>
<p>For more information and the dealer nearest you, please contact one of these wholesale distributors who carry Sonnax Harley-Davidson Replacement Parts:</p>

<h2>United States</h2>
<table cellpadding="0" cellspacing="0" summary="Listing of distributors in the USA">
  <tr>
    <td>Custom Chrome</td>
    <td><%= link_to 'www.customchrome.com', 'http://www.customchrome.com', :rel => 'external' %></td>
  </tr>
  
  <tr>
    <td>Drag Specialties</td>
    <td><%= link_to 'www.dragspecialties.com', 'http://www.dragspecialties.com', :rel => 'external' %></td>
  </tr>
  
  <tr>
    <td>Jims Machining</td>
    <td><%= link_to 'www.jimsusa.com', 'http://www.jimsusa.com', :rel => 'external' %></td>
  </tr>
  
  <tr>
    <td>Mid-USA Cycle Parts, Inc.</td>
    <td><%= link_to 'www.mid-usa.com', 'http://www.mid-usa.com', :rel => 'external' %></td>
  </tr>
  
  <tr>
    <td>Midwest Motorcycle Supply Dist</td>
    <td><%= link_to 'www.midwest-mc.com', 'http://www.midwest-mc.com', :rel => 'external' %></td>
  </tr>
  
  <tr>
    <td>Tucker-Rocky/Nempco, Inc.</td>
    <td><%= link_to 'www.bikerschoice.com', 'http://www.bikerschoice.com', :rel => 'external' %></td>
  </tr>
  
  <tr>
    <td>Starwest, Inc.</td>
    <td><%= link_to 'www.starwestinc.com', 'http://www.starwestinc.com', :rel => 'external' %></td>
  </tr>
  
  <tr>
    <td>Tec Distributing</td>
    <td><%= link_to 'www.tecdist.com', 'http://www.tecdist.com', :rel => 'external' %></td>
  </tr>
  
  <tr>
    <td>Tedd Cycle, Inc.</td>
    <td><%= link_to 'www.vtwinmfg.com', 'http://www.vtwinmfg.com', :rel => 'external' %></td>
  </tr>
</table>

<h2>Canada</h2>
<table cellpadding="0" cellspacing="0" summary="Listing of distributors in Canada">
  <tr>
    <td>Motovan Corp.</td>
    <td><%= link_to 'www.motovan.com', 'http://www.motovan.com', :rel => 'external' %></td>
  </tr>
  
  <tr>
    <td>Preston Cycle Products</td>
    <td>519-468-6800</td>
  </tr>
  
  <tr>
    <td>Power Twins Performance Parts</td>
    <td><%= link_to 'www.powertwins.com', 'http://www.powertwins.com', :rel => 'external' %></td>
  </tr>
</table>

<h2>Europe</h2>
<table cellpadding="0" cellspacing="0" summary="Listing of distributors in Europe">
  <tr>
    <td>Motorcycle Storehouse BV</td>
    <td><%= link_to 'www.motorcyclestorehouse.nl', 'http://www.motorcyclestorehouse.nl', :rel => 'external' %></td>
  </tr>
  
  <tr>
    <td>W&amp;W Cycles AG</td>
    <td><%= link_to 'www.wwag.com', 'http://www.wwag.com', :rel => 'external' %></td>
  </tr>
</table>

<h2>Australia/New Zealand</h2>
<table cellpadding="0" cellspacing="0" summary="Listing of distributors in Australia and New Zealand">
  <tr>
    <td>East Coast Custom</td>
    <td><%= link_to 'www.eastcoastcustom.com.au', 'http://www.eastcoastcustom.com.au', :rel => 'external' %></td>
  </tr>
  
  <tr>
    <td>Performance Cycle Wholesale</td>
    <td><%= link_to 'www.performancecycle.co.nz', 'http://www.performancecycle.co.nz', :rel => 'external' %></td>
  </tr>
</table>