<p><strong>Sonnax</strong> is a diversified supplier of <em>specialized drivetrain products</em> to the automotive and commercial vehicle industries, and to industrial sectors utilizing drivetrain technology.</p>

<div id="parts">
  <ul>
    <li>
      <h3><%= link_to 'Transmission Parts', '#' %></h3>
      <%= link_to(image_tag('transmission-parts.jpg', :alt => 'Transmission Parts'), '#') %>
      <p>Sold under the label Transmission Specialties®, Sonnax transmission parts are known in the automatic transmission repair industry for effectively restoring full operation of automatic transmissions and salvaging expensive valve bodies. The Transmission Specialties product catalog has become the de facto industry instruction manual, guiding builders from transmission complaints to product solutions. Popular Sure Cure® kits provide the key products to repair a particular unit.</p>
      <p class="more"><%= link_to "Browse our Transmission Parts &rarr;", '#' %></p>
    </li>
    
    <li>
      <h3><%= link_to 'Torque Converter Parts', '#' %></h3>
      <%= link_to(image_tag('torque-converter-parts.jpg', :alt => 'Torque Converter Parts'), '#') %>
      <p>Sonnax is the acknowledged global leader in the manufacture and distribution of torque converter components for standard and high performance converters. A full line of components ranges from precisely machined billet-steel converter covers to the smallest washer or o-ring. Torque converter remanufacturers worldwide confide in Sonnax to provide superior products, the highest level of customer service, and responsive technical support.</p>
      <p class="more"><%= link_to "Browse our Torque Converter Parts &rarr;", '#' %></p>
    </li>
    
    <li>
      <h3><%= link_to "Power Train Savers &reg;", '#' %> &amp; <%= link_to "Driveline Components", '#' %></h3>
      <%= link_to(image_tag('driveline-parts.jpg', :alt => 'Driveline Parts'), '#') %>
      <p>The Power Train Saver is a unique drivetrain protection device that can be used on virtually anything that is shaft driven. When an over-torque situation occurs, a system of shear pins called Torque Fuses will shear while the PTS unit continues to hold the shaft in position, avoiding damage to expensive driveline components. This is a must for applications where downtime is not acceptable. In addition, Sonnax offers a complete line of aluminum driveshaft components and tubing for the driveline industry</p>
      <p class="more"><%= link_to "Browse our Power Train Saves and Driveline Component Parts &rarr;", '#' %></p>
    </li>
    
    <li>
      <h3><%= link_to "High Performance Parts", '#' %></h3>
      <%= link_to(image_tag('high-performance-parts.jpg', :alt => 'High Performance Parts'), '#') %>
      <p>Sonnax provides high performance components for automatic transmissions and torque converters for racing and other extreme service conditions. A full line of components for the Powerglide transmission, a longtime staple of performance racing, is complemented by a growing line of enhanced products for other popular heavy duty, performance applications. Sonnax also offers informed technical support to builders in selecting parts to fit their performance requirements.</p>
      <p class="more"><%= link_to "Browse our High Performance Parts &rarr;", '#' %></p>
    </li>
  </ul>
</div>

<div class="newsletter-signup">
  <h3>Sign up for our Newsletter</h3>
  <p>Become a <strong>Sonnax Insider</strong> by subscribing to our newsletter to receive the latest product news and releases.</p>
  <p class="more"><%= link_to "Get more information &rarr;", sonnax_insider_path %></p>
</div>