<div id="home">
  <div id="intro">
    <p><strong>Sonnax</strong> is a diversified supplier of <em>specialized drivetrain products</em> to the automotive and commercial vehicle industries, and to industrial sectors utilizing drivetrain technology.</p>
  </div>

  <div id="col-1" class="group">
    <div id="parts">
      <ul>
        <li>
          <h3><%= link_to 'Transmission Parts', transmission_path %></h3>
          <%= link_to(image_tag('ts-parts.jpg', :alt => 'Transmission Parts'), '#') %>
          <p>Sold under the label Transmission Specialties<sup>&reg;</sup>, Sonnax transmission parts are known in the automatic transmission repair industry for effectively restoring full operation of automatic transmissions and salvaging expensive valve bodies. The Transmission Specialties product catalog has become the de facto industry instruction manual, guiding builders from transmission complaints to product solutions. Popular Sure Cure<sup>&reg;</sup> kits provide the key products to repair a particular unit.</p>
        </li>

        <li>
          <h3><%= link_to 'Torque Converter Parts', torque_converter_path %></h3>
          <%= link_to(image_tag('tc-parts.jpg', :alt => 'Torque Converter Parts'), '#') %>
          <p>Sonnax is the acknowledged global leader in the manufacture and distribution of torque converter components for standard and high performance converters. A full line of components ranges from precisely machined billet-steel converter covers to the smallest washer or o-ring. Torque converter remanufacturers worldwide confide in Sonnax to provide superior products, the highest level of customer service, and responsive technical support.</p>
        </li>

        <li>
          <h3><%= link_to "Power Train Savers&reg;", power_train_savers_path %> &amp; <%= link_to 'Driveline Components', driveline_path %></h3>
          <%= link_to(image_tag('driveline-parts.jpg', :alt => 'Driveline Parts'), '#') %>
          <p>The Power Train Saver is a unique drivetrain protection device that can be used on virtually anything that is shaft driven. When an over-torque situation occurs, a system of shear pins called Torque Fuses will shear while the PTS unit continues to hold the shaft in position, avoiding damage to expensive driveline components. This is a must for applications where downtime is not acceptable. In addition, Sonnax offers a complete line of aluminum driveshaft components and tubing for the driveline industry</p>
        </li>

        <li>
          <h3><%= link_to "High Performance Parts", high_performance_transmission_path %></h3>
          <%= link_to(image_tag('hp-parts.jpg', :alt => 'High Performance Parts'), '#') %>
          <p>Sonnax provides high performance components for automatic transmissions and torque converters for racing and other extreme service conditions. A full line of components for the Powerglide transmission, a longtime staple of performance racing, is complemented by a growing line of enhanced products for other popular heavy duty, performance applications. Sonnax also offers informed technical support to builders in selecting parts to fit their performance requirements.</p>
        </li>
      </ul>
    </div>
  </div>

  <div id="col-2" class="group">
    <div id="cores">
      <%= link_to(image_tag('solenoid-cores.gif', :alt => 'Solenoid Core Purchase Program'), new_solenoid_path) %>
    </div>

    <div id="insider-intro">
      <h4>Become a Sonnax Insider</h4>
      <p>Get the scoop on new Sonnax products, industry happenings and technical resources!</p>
      <%= link_to 'Learn More...', insider_path, :class => 'more' %>
    </div>

    <div id="espanol">
      <h4><%= link_to 'Información en Español', technical_library_path %></h4>
    </div>
  </div>

  <div id="col-3">
    <div class="social-media group">
      <div class="facebook">
        <%= image_tag('facebook-32x32.png', :alt => 'Join us on Facebook') %>
        <%= link_to 'Join the Sonnax Facebook Community', 'http://www.facebook.com/pages/Sonnax/98769428353', :rel => 'external', :class => 'facebook' %>
      </div>
    </div>

    <div class="iso-registered">
      <%= link_to 'Sonnax Industries is an ISO 9001: 2008 Registered Company', 'downloads/ISO90012008CERTIFICATE.pdf' %>
    </div>
  </div>
</div>
