<div id="distributors">
  <h1>High Performance Distributors</h1>
  <p>Buy Sonnax performance parts from our High Performance Transmission stocking distributors.</p>

  <table cellpadding="0" cellspacing="0" summary="Listing of High Performance Distributors">
    <thead>
      <tr>
        <th>Name</th>
        <th>City</th>
        <th>State</th>
        <th>Country</th>
        <th>Telephone</th>
        <th>Company URL</th>
        <th>E-Mail</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>D&amp;E Performance Parts</td>
        <td>Hazel Park</td>
        <td>MI</td>
        <td>USA</td>
        <td>800-245-9754</td>
        <td><%= link_to 'http://www.performancetransparts.com' %></td>
        <td><%= mail_to 'sales@performancetransparts.com', 'sales@performancetransparts.com', :class => 'email' %></td>
      </tr>
      <tr>
        <td>Midwest Transmission Supply</td>
        <td>Omaha</td>
        <td>NE</td>
        <td>USA</td>
        <td>800-731-4510</td>
        <td><%= link_to 'http://www.midwesttransmission.com' %></td>
        <td><%= mail_to 'mts-steve@qwestoffice.net', 'mts-steve@qwestoffice.net', :class => 'email' %></td>
      </tr>
      <tr>
        <td>Whatever It Takes Transmission</td>
        <td>Louisville</td>
        <td>KY</td>
        <td>USA</td>
        <td>800-940-0197</td>
        <td><%= link_to 'http://www.wittrans.com' %></td>
        <td></td>
      </tr>
      <tr>
        <td>Whatever It Takes Transmission</td>
        <td>Charlotte</td>
        <td>MC</td>
        <td>USA</td>
        <td>800-940-0197</td>
        <td><%= link_to 'http://www.wittrans.com' %></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>