<div id="insider">
  <div id="col-1">
    <h1>Become a Sonnax Insider</h1>
    <ul class="benefits">
      <li>Be the first to know about new Sonnax products</li>
      <li>Stay on top of industry trends</li>
      <li>Discover helpful technical resources</li>
      <li>Learn about upcoming seminars and industry events</li>
    </ul>

    <h2>Transmission Report</h2>
    <p>The Sonnax <em>Transmission Report</em>, the successor to our popular <em>Transmission Technical Bulletin</em>, features a whole new look and exclusive product coverage for transmission specialists. The publication mails free of charge to U.S. residents and is also available for online viewing.</p>
    
    <div class="newsletter-signup group">
      <%= image_tag('transmission-newsletter.gif', :width => 38, :height => 54, :alt => 'Sign up for our newsletter') %>
      <ul>
        <li><%= link_to 'Sign up for the newsletter', new_catalog_request_path %></li>
        <li><%= link_to 'View recent transmission newsletter (2.56MB PDF)', 'downloads/catalogs/sonnax-trans-report_v2n1.pdf' %></li>
      </ul>
    </div>
    
    <h2>E-News Bulletins</h2>
    <p>E-Mail is the fastest way to get all the latest news from Sonnax, Choose only the product line you&#8217;re interested in!</p>
    
    <div class="newsletter-subscribe group">
      <%= image_tag('sonnax-insider-envelope.gif', :width => 51, :height => 38, :alt => 'Subscribe to our newsletter') %>
      <ul>
        <li><%= link_to 'Subscribe Now!', subscribe_to_email_newsletter_path %></li>
        <li><%= link_to 'View recent Sonnax E-News', 'http://archive.constantcontact.com/fs092/1101913914829/archive/1102780439386.html', :rel => 'external' %></li>
      </ul>
    </div>
  </div>
  
  <div id="col-2">
    <%= image_tag('transreport_inside.jpg', :width => 333, :height => 184, :alt => 'Inside of the report') %>
    <%= link_to(image_tag('enews_insider.jpg', :width => 333, :height => 251, :alt => 'Inside of the E-News'), 'http://archive.constantcontact.com/fs092/1101913914829/archive/1102780439386.html', :rel => 'external') %>
  </div>
</div>