<div id="news-and-events">
	<div id="col-1">
  <h1>Sonnax News</h1>
	  <h3>Sonnax website Improvements <em class="date">12/2/10</em></h3>
	  
	  <p>Even the best website in the industry occasionally needs a boost. Although you may not see every improvement right away, we've lately been hard at work behind the scenes to make our site better than ever.</p>
		<p>The biggest change you'll notice is the new and improved <%= link_to 'Sonnax Technical Library', technical_library_path %>. All of our great articles and guides are now searchable either by vehicle make and unit, or you can look up information by subject matter such as "Diagnostics and Theory" or "Valve Body Reaming." Looking for an article by a particular Sonnax or Sonnax TASC Force author? Find every article they've written or sort your search results to see what topics they've covered. Many of our online articles also are now in HTML, making them quick and easy to read any time, any place.</p>
		<p>More updates to the Sonnax website are planned for the coming months. Feel free to <%= link_to 'contact us', new_contact_path %> with comments and suggestions on how we can make sonnax.com work better for you.</p>
		
		<h3>December High Performance Shows <em class="date">10/21/10</em></h3>
		<p>Sonnax <%= link_to 'high performance', high_performance_transmission_path %> and <%= link_to 'driveline', driveline_path %> products will be featured at two of the industry's biggest upcoming trade shows:</p>
			<ul class="article-list">
			<li class="article-list">Stop by and visit us at booth #1714 at the <a href="http://www.imis-indy.com/">2010 IMIS Show</a> Dec. 1-3 in Indianapolis, Ind. We'll be showing off our groundbreaking new <a href="http://new.sonnax.com/product-lines/high-performance-transmission/parts/1338">SmartShell&trade;</a> heavy duty reaction shell kit for GM 4L60/E units, plus diesel and driveline performance products and our extensive <a href="http://new.sonnax.com/product-lines/high-performance-transmission/parts">Powerglide<sup>&reg:</sup></a> offerings.</li>
			<li class="article-list">Our booths #2942 and #2944 at the <a href="http://www.performanceracing.com/tradeshow/">23rd Annual Performance Racing Industry Show</a> Dec. 9-11 in Orlando, Fla., will highlight our line of aluminum driveline components and other high performance products.</li>
			</ul>

		<h3>Sonnax Seminar Presentation <em class="date">10/1/10</em></h3>
		<p>Sonnax engineer MacKenzie Campbell will present a mini seminar on today's more common and troublesome valve bodies during Transmission &amp; Driveline Technical Seminars 2010 hosted by King-O-Matic. <%= link_to 'Read More&hellip;', news_10_1_10_path %></p>

		<h3>Tech Library Articles <em class="date">10/8/10</em></h3>
		<p>Two new articles by Ed Lee are now available in the Sonnax Technical Library:</p>
			<ul class="article-list">
			<li class="article-list"><%= link_to '&quot;Cast Iron Powerglide Leaks&quot;', ('/publications/transmission/titles/cast-iron-powerglide-leaks') %></li>
			<li class="article-list"><%= link_to '&quot;Premature Failure of Mitsubishi Galant Ring Gears&quot;', ('/publications/converter/titles/premature-failure-of-mitsubishi-galant-ring-gears') %></li>
			</ul>
		<img src="/images/catalogs/TransmissionCoverThumb.jpg" alt="Transmission Products Catalog Volume 8" class="Rphoto">
		<h3>Transmission Products Catalog Vol. 8 <em class="date">10/1/10</em></h3>
		<p>Our brand-new transmission catalog will mail with the October edition of Transmission Digest. Designed specifically to showcase how Sonnax fixes resolve transmission complaints, it features more than 165 pages of comprehensive product information, tech articles and our award-winning valve body layouts. Didn't receive a catalog yet? <%= link_to 'Request your copy today!', new_catalog_request_path %></p>

		<h3>For more Sonnax News visit our <%= link_to 'archive', news_archive_path %> section</h3>
	</div>
	<div id="col-2">
	<h1>New Products</h1>
	<p>
	<%= link_to 'Transmission', recent_product_line_parts_path('transmission') %><br>
	<%= link_to 'Torque Converter', recent_product_line_parts_path('torque-converter') %><br>
	<%= link_to 'High Performance', recent_product_line_parts_path('high-performance-transmission') %><br>
	<%= link_to 'Allison', recent_product_line_parts_path('allison') %><sup>&reg;</sup><br>
	</p>
	<h1>Events</h1>
	<p class="event">Sonnax looks forward to meeting with attendees, learning more about current rebuilding challenges and discussing Sonnax's newest transmission products at these events.</p>
	  <ul>

		<li class="enventlist"><a href="http://www.imis-indy.com" class="eventname">International Motorsports Industry Show</a><br>
		Dec 1-3, 2010<br>
		Baltimore, Maryland<br>
		Booth #1714</li>
		
		<li class="enventlist"><a href="http://www.performanceracing.com/tradeshow/" class="eventname">Performance Racing Industry Show</a><br>
		Dec. 9-11, 2010<br>
		Orlando, Florida<br>
		Booths #2942 &amp; 2944</li>
		
		<li class="enventlist"><a href="http://www.workboatshow.com" class="eventname">International Workboat Show</a><br>
		Dec. 1-3, 2010<br>
		New Orleans, Louisiana<br>
		Booth #1727</li>
		



		</ul>
	</div>
</div>