<div id="news-and-events">
  <h1>Sonnax News Archive</h1>
	<div class="news-archive">
		<img src="/images/catalogs/HarleyDavidsonCoverThumb.jpg" alt="Transmission Products Catalog Volume 8" class="Rphoto">
		<h3>Harley Davidson<sup>&reg;</sup> Replacement Parts Catalog <em class="date">9/17/10</em></h3>
<p>An new catalog featuring Sonnax Harley Davidson replacement bearings and rollers is now available. <%= link_to 'Click here', new_catalog_request_path %> to request a catalog or contact us for more information.</p>

		<h3>Converter Clutch Kit Price Reduction <em class="date">9/1/10</em></h3>
		<img src="/images/news-and-events/BW-RK-1.jpg" alt="Converter Clutch Kit" class="Rphoto">
		<p>Effective September 2010, discounted pricing is available on the Borg Warner 310mm Multi-Plate Converter Clutch Kit BW-RK-1. Additional discounts are offered for bulk quantities. Contact your Sonnax representative or use our <%= link_to 'online form', new_contact_path %> to request more information.</p>

		<h3>TASC Force Tech Tip <em class="date">9/1/10</em></h3>
		<p>Read up on Controller Area Network systems in "A Box in a CAN" by Sonnax TASC Force member Serge Martin, the newest article in the Sonnax Technical Library.</p>

		<h3>New Transmission Newsletter <em class="date">6/2/10</em></h3>
		<img src="images/catalogs/transreportv1n1.gif" alt="Converter Clutch Kit" class="Rphoto">
		<p>Calling all transmission rebuilders! We recently mailed out our first <%= link_to 'Transmission Report', insider_path %> newsletter, previously known as the Sonnax Transmission Technical Bulletin. If you didn't get the newsletter, <%= link_to 'click here', new_catalog_request_path %> to request a copy (U.S. only) or read the latest edition online.</p>

		<h3>Sonnax TASC Force Meeting <em class="date">5/10/10</em></h3>
		<p>Fifty members of the Sonnax TASC Force gathered in Philadelphia April 23-24, 2010, for roundtable discussion and technical sessions designed to facilitate the development of cutting-edge transmission solutions. <%= link_to 'Read More&hellip;', news_5_10_10_path %></p>

		<h3>Solar Panels Go Live at Sonnax Headquarters <em class="date">3/8/10</em></h3>
		<p>On Dec. 30, 2009, Sonnax began generating electricity from the solar photovoltaic power-generation system installed on the roof of its corporate headquarters in Vermont. <%= link_to 'Read More&hellip;', news_3_8_10_path %></p>

		<h3>Transmission Digest Top 10 of 2010 Winner <em class="date">2/22/10</em></h3>
		<p>The automotive journal Transmission Digest announced in its February 2010 issue that Sonnax won three spots in its annual top 10 contests. <%= link_to 'Read More&hellip;', news_2_22_10_path %></p>

		<h3>International Sonnax TASC Force Meeting <em class="date">2/5/10</em></h3>
		<p>The Sonnax TASC Force met in Europe Jan. 22-23, 2010, bringing together experts from than 11 countries to tackle industry developments and technical challenges faced by today's transmission specialists. <%= link_to 'Read More&hellip;', news_2_5_10_path %></p>

		<h3>Haiti Relief Fund-Raiser <em class="date">2/8/10</em></h3>
		<p>One hundred and forty Sonnax employees pulled together in response to the Haiti earthquake crisis, helping the company contribute more than $5,500 to the Clinton Bush Haiti Fund. <%= link_to 'Read More&hellip;', news_2_8_10_path %></p>

		<h3>The Sonnax Green Initiative Goes Solar <em class="date">12/1/09</em></h3>
		<p>Sonnax plans to install a solar photovoltaic power generation system at its headquarters in Vermont. <%= link_to 'Read More&hellip;', news_12_1_09_path %></p>

		<h3>Jasper Preferred Partner Award <em class="date">9/1/09</em></h3>
		<p>Sonnax is one of only two transmission products suppliers to receive the 2008 Preferred Partner award from Jasper Engines &amp; Transmissions. <%= link_to 'Read More&hellip;', news_9_1_09_path %></p>
	</div>
</div>