<div id="news-and-events">
	<div id="col-1">
  <h1>Sonnax News</h1>
  		<h3>Sonnax Choice Tech Seminar Presentation <em class="date">5/12/11</em></h3>
  		<p>Bob Warnke, Sonnax V.P. of technical development, will be a guest speaker at the Choice Tech seminar planned for June 18, 2011, at the <a href="http://www.rematecnews.com/nl/en/show/pages/default.aspx" target="_new">ReMaTec</a> event in Amsterdam, Netherlands. His discussion will focus on electro-hydraulic and mechatronic valve bodies, rebuilding and testing tips and the issues and external factors which affect the torque converter. To register or for more information, visit <a href="http://www.automaticchoice.com/seminar_info_nl_2011.html" target="_new">www.automaticchoice.com</a>.</p>

  		<h3>Sonnax TASC Force&trade; Holds Spring Meeting <em class="date">5/10/11</em></h3>
		<p>The Sonnax TASC Force held its first meeting of the year April 29-30, 2011, at Jasper Engines &amp; Transmissions in Jasper, Ind. The semi-annual gathering is an opportunity for aftermarket automatic transmission experts from around the world to examine problems facing the entire industry and discuss solutions. <%= link_to 'Learn More&hellip;', news_5_10_11_path %></p>

  		<h3>TCRA 14th Annual Seminar <em class="date">4/11/11</em></h3>
  		<p>Sonnax will co-host the 2011 TCRA seminar weekend May 13-14, 2011, in Chicago, Ill. On Friday, attendees are invited to a technical presentation and plant tour courtesy of seminar co-host BorgWarner. A classroom format seminar is planned for Saturday with Sonnax Technical Specialist Ed Lee speaking on 47/48RE hubs, the 68RE captive clutch and Honda over-heated converters, and Sales Representative Ming Qi discussing the introduction of the torque converter aftermarket in China. Be sure to stop by the Sonnax booth to check out our latest products and catalog supplement materials. Visit <a href="http://www.tcraonline.com/" target="_new">www.tcraonline.com</a> for more information or to register for TCRA 2011.</p>
  
		<h3>NEW! BorgWarner Torque Converter Friction Rings <em class="date">3/17/11</em></h3>
		<p>Sonnax now offers torque converter friction rings from BorgWarner, a leading manufacturer of transmission products for OEMs worldwide. These standard, adhesive-backed rings are made from OE materials which rarely before have been available to the aftermarket. BorgWarner rings are available in a wide range of popular sizes, giving you the opportunity to rebuild converters using what we believe to be the most advanced material available anywhere. <%= link_to 'Learn More&hellip;', news_3_17_11_path %></p>
		
	  	<%= link_to image_tag('news-and-events/TD-Top-10-Product-2011red.gif', :class => 'Rphoto', :alt => 'Sonnax 2011 Top Ten Winner'), news_3_7_11_path %>
		<h3>Sonnax Products Named Tops for 2011 <em class="date">3/7/11</em></h3>
		<p>Thank you to the readers of <em>Transmission Digest</em> for voting four Sonnax parts Top Ten Shop Products of 2011! Our winners were the 4R70W valve body retaining plate, Chrysler RFE line pressure booster kits, 46/47 RH/RE 2nd gear super hold servo and our dual seal billet accumulator piston kit. Entries were featured in the October 2010 magazine issue, with the winners announced in March 2011. Many will be on display at <a href="http://www.showpowerexpo.com/">Showpower Expo 2011</a>, March 17-19 in Indianapolis, Ind. <%= link_to 'Learn More&hellip;', news_3_7_11_path %></p>

<h3>For more Sonnax News visit our <%= link_to 'archive', news_archive_path %> section</h3>

	</div>
	<div id="col-2">
	<h1>New Products</h1>
	<p>
	<%= link_to 'Transmission', recent_product_line_parts_path('transmission') %><br>
	<%= link_to 'Torque Converter', recent_product_line_parts_path('torque-converter') %><br>
	<%= link_to 'High Performance', recent_product_line_parts_path('high-performance-transmission') %><br>
	<%= link_to 'Allison', recent_product_line_parts_path('allison') %><sup>&reg;</sup><br>
	</p>
	<h1>Events</h1>
  <p class="event">Sonnax looks forward to meeting with attendees, learning more about current rebuilding challenges and discussing Sonnax's newest transmission products at these events.</p>
  <ul>
  
    <li class="enventlist"><%= link_to image_tag('road-show/RoadshowLogo.gif', :class => 'Lphoto', :alt => 'Sonnax Roadshow Seminars'),  '/roadshow' %><br>
    <%= link_to "Free Valve Body Diagnostic &amp; Reaming Seminars", '/roadshow', :class => 'eventname' %><br>
    June 9, 2011<br>
	June 30, 2011<br>
	October 30, 2011</li>
	
	<li class="enventlist"><a href="http://www.automaticchoice.com/seminar_info_nl_2011.html" class="eventname">Choice Tech Seminar</a><br>
	<a href="http://www.rematecnews.com/nl/en/show/pages/default.aspx" class="eventname">ReMaTec</a><br>
	June 18, 2011<br>
	Amsterdam, Netherlands</li>

    <li class="enventlist"><a href="http://www.atsgmiami.com/seminar.php" class="eventname">ATSG Seminar</a><br>
    Hosted by Wesco Transmission Parts<br>
	June 26, 2011<br>
	San Juan, Puerto Rico</li>

	<li class="enventlist"><a href="http://www.paaceautomechanika.com/" class="eventname">Automechanika PAACE</a><br>
	July 13-15, 2011<br>
	Mexico City, Mexico<br>
	Booth 3138</li>

  </ul>

	</div>
</div>

