<div id="news-and-events">
  <h1>Sonnax News Archive</h1>
	<div class="news-archive">
		<%= link_to image_tag('catalogs/DrivelineCoverThumb.jpg', :class => 'Rphoto', :alt => 'Driveline Catalog Volume 3'), new_catalog_request_path %><h3>Driveline Catalog Vol. 3 <em class="date">10/28/10</em></h3>
		<p>Our Volume 3 Driveline Catalog featuring aluminum weld yokes, aluminum tubing and aluminum repair bushings is now available. You can view it online or <%= link_to 'Request your copy today', new_catalog_request_path %>.</p>
		<h3>TASC Force&trade; Meeting <em class="date">10/21/10</em></h3>		
		<p>The <%= link_to 'Sonnax TASC Force', tasc_force_path %> held a semi-annual meeting Oct. 15-16, 2010, in Lucerne, Switzerland, bringing together an international group of transmission experts for two days of technical talks hosted by TASC member Adrian Marty of Automaten-Meyer AG. <%= link_to 'Read More&hellip;', news_11_10_10_path %></p>
		
		<h3>December High Performance Shows <em class="date">11/21/10</em></h3>
		<p>Sonnax <%= link_to 'high performance', high_performance_transmission_path %> and <%= link_to 'driveline', driveline_path %> products will be featured at two of the industry's biggest upcoming trade shows:</p>
			<ul class="article-list">
			<li class="article-list">Stop by and visit us at booth #1714 at the <a href="http://www.imis-indy.com/">2010 IMIS Show</a> Dec. 1-3 in Indianapolis, Ind. We'll be showing off our groundbreaking new <a href="/product-lines/high-performance-transmission/parts/1338">SmartShell&trade;</a> heavy duty reaction shell kit for GM 4L60/E units, plus diesel and driveline performance products and our extensive <a href="/product-lines/high-performance-transmission/parts/filter?filter%5Bmake%5D=1&filter%5Bunit%5D=365">Powerglide<sup>&reg;</sup></a> offerings.</li>
			<li class="article-list">Our booths #2942 and #2944 at the <a href="http://www.performanceracing.com/tradeshow/">23rd Annual Performance Racing Industry Show</a> Dec. 9-11 in Orlando, Fla., will highlight our line of aluminum driveline components and other high performance products.</li>
			</ul>

		<h3>Sonnax Seminar Presentation <em class="date">10/1/10</em></h3>
		<p>Sonnax engineer MacKenzie Campbell will present a mini seminar on today's more common and troublesome valve bodies during Transmission &amp; Driveline Technical Seminars 2010 hosted by King-O-Matic. <%= link_to 'Read More&hellip;', news_10_1_10_path %></p>

		<h3>Tech Library Articles <em class="date">10/8/10</em></h3>
		<p>Two new articles by Ed Lee are now available in the Sonnax Technical Library:</p>
			<ul class="article-list">
			<li class="article-list"><%= link_to '&quot;Cast Iron Powerglide Leaks&quot;', ('/publications/transmission/titles/cast-iron-powerglide-leaks') %></li>
			<li class="article-list"><%= link_to '&quot;Premature Failure of Mitsubishi Galant Ring Gears&quot;', ('/publications/converter/titles/premature-failure-of-mitsubishi-galant-ring-gears') %></li>
			</ul>
		<%= link_to image_tag('catalogs/TransmissionCoverThumb.jpg', :class => 'Rphoto', :alt => 'Transmission Products Catalog Volume 8'), new_catalog_request_path %>
		<h3>Transmission Products Catalog Vol. 8 <em class="date">10/1/10</em></h3>
		<p>Our brand-new transmission catalog will mail with the October edition of Transmission Digest. Designed specifically to showcase how Sonnax fixes resolve transmission complaints, it features more than 165 pages of comprehensive product information, tech articles and our award-winning valve body layouts. Didn't receive a catalog yet? <%= link_to 'Request your copy today!', new_catalog_request_path %></p>
		<%= link_to(image_tag('catalogs/HarleyDavidsonCoverThumb.jpg', :alt => 'Harley Davidson Replacement Bearings', :class => 'Rphoto'), new_catalog_request_path) %>
		<h3>Harley Davidson<sup>&reg;</sup> Replacement Parts Catalog <em class="date">9/17/10</em></h3>
<p>An new catalog featuring Sonnax Harley Davidson replacement bearings and rollers is now available. <%= link_to 'Click here', new_catalog_request_path %> to request a catalog or contact us for more information.</p>

		<h3>Converter Clutch Kit Price Reduction <em class="date">9/1/10</em></h3>
		<%= link_to image_tag('news-and-events/BW-RK-1.jpg', :class => 'Rphoto'), '/product-lines/torque-converter/parts/3239' %>
		<p>Effective September 2010, discounted pricing is available on the Borg Warner 310mm Multi-Plate Converter Clutch Kit <%= link_to 'BW-RK-1', '/product-lines/torque-converter/parts/3239' %>. Additional discounts are offered for bulk quantities. Contact your Sonnax representative or use our <%= link_to 'online form', new_contact_path %> to request more information.</p>

		<h3>TASC Force Tech Tip <em class="date">9/1/10</em></h3>
		<p>Read up on Controller Area Network systems in "<a href="/publications/transmission/titles/a-box-in-a-can">A Box in a CAN</a>" by Sonnax TASC Force member Serge Martin, the newest article in the Sonnax Technical Library.</p>
		
		<%= link_to(image_tag('catalogs/transreportv1n1.gif', :alt => 'Converter Clutch Kit', :class => 'Rphoto'), insider_path) %>
		<h3>New Transmission Newsletter <em class="date">6/2/10</em></h3>
		<p>Calling all transmission rebuilders! We recently mailed out our first <%= link_to 'Transmission Report', insider_path %> newsletter, previously known as the Sonnax Transmission Technical Bulletin. If you didn't get the newsletter, <%= link_to 'click here', new_catalog_request_path %> to request a copy (U.S. only) or read the latest edition online.</p>

		<h3>Sonnax TASC Force Meeting <em class="date">5/10/10</em></h3>
		<p>Fifty members of the Sonnax TASC Force gathered in Philadelphia April 23-24, 2010, for roundtable discussion and technical sessions designed to facilitate the development of cutting-edge transmission solutions. <%= link_to 'Read More&hellip;', news_5_10_10_path %></p>

		<h3>Solar Panels Go Live at Sonnax Headquarters <em class="date">3/8/10</em></h3>
		<p>On Dec. 30, 2009, Sonnax began generating electricity from the solar photovoltaic power-generation system installed on the roof of its corporate headquarters in Vermont. <%= link_to 'Read More&hellip;', news_3_8_10_path %></p>

		<h3>Transmission Digest Top 10 of 2010 Winner <em class="date">2/22/10</em></h3>
		<p>The automotive journal Transmission Digest announced in its February 2010 issue that Sonnax won three spots in its annual top 10 contests. <%= link_to 'Read More&hellip;', news_2_22_10_path %></p>

		<h3>International Sonnax TASC Force Meeting <em class="date">2/5/10</em></h3>
		<p>The Sonnax TASC Force met in Europe Jan. 22-23, 2010, bringing together experts from than 11 countries to tackle industry developments and technical challenges faced by today's transmission specialists. <%= link_to 'Read More&hellip;', news_2_5_10_path %></p>

		<h3>Haiti Relief Fund-Raiser <em class="date">2/8/10</em></h3>
		<p>One hundred and forty Sonnax employees pulled together in response to the Haiti earthquake crisis, helping the company contribute more than $5,500 to the Clinton Bush Haiti Fund. <%= link_to 'Read More&hellip;', news_2_8_10_path %></p>

		<h3>The Sonnax Green Initiative Goes Solar <em class="date">12/1/09</em></h3>
		<p>Sonnax plans to install a solar photovoltaic power generation system at its headquarters in Vermont. <%= link_to 'Read More&hellip;', news_12_1_09_path %></p>

		<h3>Jasper Preferred Partner Award <em class="date">9/1/09</em></h3>
		<p>Sonnax is one of only two transmission products suppliers to receive the 2008 Preferred Partner award from Jasper Engines &amp; Transmissions. <%= link_to 'Read More&hellip;', news_9_1_09_path %></p>
	</div>
</div>