<div id="news-and-events">
	<div id="col-1">
  <h1>Sonnax News</h1>
		<h3>NEW! BorgWarner<sup>&reg;</sup> Torque Converter Friction Rings <em class="date">3/17/11</em></h3>
		<p>Sonnax now offers torque converter friction rings from BorgWarner, a leading manufacturer of transmission products for OEMs worldwide. These standard, adhesive-backed rings are made from OE materials which rarely before have been available to the aftermarket. BorgWarner rings are available in a wide range of popular sizes, giving you the opportunity to rebuild converters using what we believe to be the most advanced material available anywhere. <%= link_to 'Learn More&hellip;', news_3_17_11_path %></p>
  
	  	<%= link_to image_tag('news-and-events/TD-Top-10-Product-2011red.gif', :class => 'Rphoto', :alt => 'Sonnax 2011 Top Ten Winner'), news_3_7_11_path %>
		<h3>Sonnax Products Named Tops for 2011 <em class="date">3/7/11</em></h3>
		<p>Thank you to the readers of <em>Transmission Digest</em> for voting four Sonnax parts Top Ten Shop Products of 2011! Our winners were the 4R70W valve body retaining plate, Chrysler RFE line pressure booster kits, 46/47 RH/RE 2nd gear super hold servo and our dual seal billet accumulator piston kit. Entries were featured in the October 2010 magazine issue, with the winners announced in March 2011. Many will be on display at <a href="http://www.showpowerexpo.com/">Showpower Expo 2011</a>, March 17-19 in Indianapolis, Ind. <%= link_to 'Learn More&hellip;', news_3_7_11_path %></p>
		<%= link_to image_tag('catalogs/transreportv2n1.gif', :class => 'Rphoto', :alt => 'Transmission Report'),  new_catalog_request_path %>
		<h3>February <em>Transmission Report</em> Newsletter <em class="date">2/25/11</em></h3>
		<p>In the latest edition of the Sonnax <em>Transmission Report</em>, we take a behind-the-scenes look at our groundbreaking new line pressure booster kits, expanded and enhanced Powerglide parts and a whole family of fixes for Aisin AW-TR60SN units. This quarterly newsletter is mailed to rebuilders throughout the U.S. <%= link_to 'Click here', new_catalog_request_path %> to sign up for the newsletter or read the latest edition online.

	    <h3>Free Valve Body Diagnostic &amp; Reaming Seminars <em class="date">2/18/11</em></h3>
		<p><%= link_to image_tag('road-show/RoadshowLogo.gif', :class => 'Lphoto', :alt => 'Sonnax Roadshow Seminars'),  '/roadshow' %>Sonnax technical experts are hitting the road with a series of seminars on the same diagnostic and reaming techniques trusted by the industry's top transmission specialists and rebuilders. Come find out how it's all done! <%= link_to 'Learn More&hellip;', '/roadshow' %></p>

	    <h3>Choice Tech Seminar <em class="date">2/11/11</em></h3>
        <p>Bob Warnke, Sonnax V.P. of technical development, will join ATSG President Wayne Colonna at the 2011 Choice Tech seminar on May 7 in Bristol, England. Their seminar will cover ZF6HP26 units, Aisin AW TR-60SN (VW-09D) units, Mercedes 722.8 CVT and 722.9 units and hybrid safety procedures, among other topics. Visit the <a href="http://www.automaticchoice.com/" target="_new">Automatic Choice website</a> for more information.</p>

    <h3>Sonnax Announces Employee Ownership <em class="date">1/3/11</em></h3>
    <p>Sonnax Industries is pleased to announce the formation of an Employee Stock Ownership Plan (ESOP) for its employees. In an ESOP, the company sets up a trust fund which owns shares of the company stock. In the case of Sonnax, the trust will own 100% of the company stock. <%= link_to 'Read More&hellip;', news_1_3_11_path %></p>

	  <h3>Sonnax Website Improvements <em class="date">12/21/10</em></h3>
	  
	  <p>Even the best website in the industry occasionally needs a boost. Although you may not see every improvement right away, we've lately been hard at work behind the scenes to make our site better than ever.</p>
		<p>The biggest change you'll notice is the new and improved <%= link_to 'Sonnax Technical Library', technical_library_path %>. All of our great articles and guides are now searchable either by vehicle make and unit, or you can look up information by subject matter such as "Diagnostics and Theory" or "Valve Body Reaming." Looking for an article by a particular Sonnax or Sonnax TASC Force&trade; author? Find every article they've written or sort your search results to see what topics they've covered. Many of our online articles also are now in HTML, making them quick and easy to read any time, any place.</p>
		<p>More updates to the Sonnax website are planned for the coming months. Feel free to <%= link_to 'contact us', new_contact_path %> with comments and suggestions on how we can make sonnax.com work better for you.</p>
        
		<h3>For more Sonnax News visit our <%= link_to 'archive', news_archive_path %> section</h3>
	</div>
	<div id="col-2">
	<h1>New Products</h1>
	<p>
	<%= link_to 'Transmission', recent_product_line_parts_path('transmission') %><br>
	<%= link_to 'Torque Converter', recent_product_line_parts_path('torque-converter') %><br>
	<%= link_to 'High Performance', recent_product_line_parts_path('high-performance-transmission') %><br>
	<%= link_to 'Allison', recent_product_line_parts_path('allison') %><sup>&reg;</sup><br>
	</p>
	<h1>Events</h1>
  <p class="event">Sonnax looks forward to meeting with attendees, learning more about current rebuilding challenges and discussing Sonnax's newest transmission products at these events.</p>
  <ul>
  

    <li class="enventlist"><a href="http://www.atsg.com/seminar.php" class="eventname">ATSG Seminar</a><br>
    April 2, 2011<br>
    Baltimore, MD</li>

    <li class="enventlist"><a href="http://www.atsg.com/seminar.php" class="eventname">ATSG Seminar</a><br>
    April 2, 2011<br>
    Shreveport, LA</li>

    <li class="enventlist"><a href="http://www.messefrankfurt.com.tr/index.php?page=155" class="eventname">Automechanika Istanbul</a><br>
    April 7 - 10, 2011<br>
    Istanbul, Turkey</li>
  
    <li class="enventlist"><a href="http://www.atsg.com/seminar.php" class="eventname">ATSG Seminar</a><br>
    April 9, 2011<br>
    Philadelphia, PA</li>

    <li class="enventlist"><a href="http://www.automaticchoice.com/" class="eventname">Choice Tech Seminar 2011</a><br>
    May 7, 2011<br>
    Bristol, England</li>
 
 
    <li class="enventlist"><%= link_to image_tag('road-show/RoadshowLogo.gif', :class => 'Lphoto', :alt => 'Sonnax Roadshow Seminars'),  '/roadshow' %><br>
    <%= link_to "Free Valve Body Diagnostic &amp; Reaming Seminars", '/roadshow', :class => 'eventname' %><br>
    April 1, 2011<br>
    April 7, 2011<br>
    May 12, 2011<br>
    June 9, 2011<br>
	June 30, 2011</li>

  </ul>

	</div>
</div>

