<div id="tasc-force">
  <div id="col-1">
    <h1>TASC Force&trade;</h1>
    <h2>True collaboration toward a common goal is not something you see everyday, but that is what the Sonnax TASC Force is all about.</h2>
	<p>The Sonnax Technical Automotive Specialties Committee (TASC) Force is composed of experienced transmission rebuilders and technicians who value technical innovations and have hands-on understanding of the latest units and industry developments. From around the globe, the best minds in the transmission industry willingly share their know-how, with the understanding that everyone benefits when good ideas and products emerge from centuries of combined transmission wisdom.</p>
    <%= image_tag('tascforce-small.jpg', :width => 108, :height => 68, :alt => 'TASC Force', :class => 'Rphoto') %>
    <p>When you see the TASC Force logo on a Sonnax product, it means the product has passed stringent testing by Sonnax and by TASC Force member shops.</p>
	<p>Independent TASC members work for large shops, small shops, volume transmission and volume valve body rebuilders. Alongside Sonnax engineers and specialists, they are helping to develop repairs which will be used by their companies and by the rest of the transmission aftermarket.</p>
	<p>TASC Force members contribute product ideas, test new products, troubleshoot results, and get together on a regular basis to listen, discuss and compare findings. Their efforts help provide answers and repairs for the entire industry. Everybody wins.</p>
    <h2>TASC Force Meetings</h2>
    <p>Click on the list below to read about recent TASC Force Meetings.</p>
	<ul>
		<li><%= link_to 'Switzerland Oct. 15-16, 2010', news_11_10_10_path %></li>
		<li><%= link_to 'Philadelphia April 23-24, 2010', news_5_10_10_path %></li>
		<li><%= link_to 'Netherlands Jan. 22-23, 2010', news_2_5_10_path %></li>
	</ul>

    <div class="photo half">
      <%= image_tag('scott-tascforce-page.jpg', :width => 258, :height => 185, :alt => 'Scott TASC Force') %>
      <em class="caption">Sonnax Transmission Technical Specialist Gregg Nader (center) and Technical Group Manager Scott Jackson (right) lead a TASC Force meeting workshop on valve body reaming procedures, inspection and vacuum testing.</em>
  </div>
  </div>
  <div id="col-2">
    <div class="testimonies">
      <div class="photo whole">
        <%= image_tag('tables-tascforce.jpg', :width => 290, :height => 164, :alt => 'TASC Force') %>
        <em class="caption">2010 TASC Force meeting in the Netherlands</em>
      </div>
      
      <h3>What people are saying about why the TASC force is so important to this industry</h3>
      <ul>
        <li>
          <blockquote>&quot;The TASC Force has been very helpful in addressing the needs and problems of the European, and especially the U.S. market.&quot;</blockquote>
          <cite>Adrian Marty, Automaten-Meyer AG</cite>
        </li>
        <li>
          <blockquote>&quot;Sonnax and the TASC Force have invested thousands of hours in testing. The results of these efforts allow the transmission industry to produce a quality product at a competitive price.&quot;</blockquote>
          <cite>Dale Desveaux, Dale's Transmission, Ont., Canada</cite>
        </li>
        <li>
          <blockquote>&quot;The TASC Force is another example of what happens when people in this industry get together to address common issues. The people I've met on the TASC Force are some of the sharpest in the industry and the work they do helps the entire industry. Keep it up.&quot;</blockquote>
          <cite>Dennis Madden, CEO ATRA/Gears</cite>
        </li>
        <li>
          <blockquote>&quot;We have always looked at what causes failures, as well as what actually failed. This is the only true way of doing a great job for our customers. By becoming involved with the TASC Force, and using Sonnax products religiously, we are better able to do just that.&quot;</blockquote>
          <cite>Scott Medori, Parkland Transmission, Red Deer, Alberta, Canada</cite>
        </li>
        <li>
          <blockquote>&quot;<span style="font-style:italic">Transmission Digest</span> continues to depend on the TASC Force for answers and explanations our readers need to address everyday rebuilding issues and seldom encountered pitfalls in their shop operations. Our TASC Force Tips column is highly regarded by an avid and interested readership.&quot;</blockquote>
          <cite>Bobby Mace, Publisher, Transmission Digest</cite>
        </li>
      </ul>
    </div>
  </div>
</div>
