<div id="valve-body-layouts">
  <h1>Valve Body Layouts</h1>
  <p>Select image for printable Valve Body PDF.</p>
  
  <ul>
    <li>
      <%= link_to(image_tag('valve-body-layouts/VBL-AW55-50SN.jpg', :width => 250, :height => 162, :alt => 'Aisin AW 55-50SN'), 'downloads/valve-body-layouts/VBL-AW55-50SN.pdf') %>
      <ul>
        <li><%= link_to 'Aisin AW 55-50SN', 'downloads/valve-body-layouts/VBL-AW55-50SN.pdf', :class => 'pdf' %></li>
      </ul>
    </li>
    
    <li>
      <%= link_to(image_tag('valve-body-layouts/VBL-AWTF-60SN.jpg', :width => 250, :height => 162, :alt => 'Aisin AW TF-60SN'), 'downloads/valve-body-layouts/VBL-AWTF-60SN.pdf') %>
      <ul>
        <li><%= link_to 'Aisin AW TF-60SN', 'downloads/valve-body-layouts/VBL-AWTF-60SN.pdf', :class => 'pdf' %></li>
        <li><%= link_to 'Application Guide by Vehicle Make', 'downloads/valve-body-layouts/AW6-App-Guide.pdf', :class => 'pdf app-guide' %></li>
      </ul>
    </li>
    
    <li>
      <%= link_to(image_tag('valve-body-layouts/VBL-AWTF-80SC.jpg', :width => 250, :height => 162, :alt => 'Aisin AW TF-80SC'), 'downloads/valve-body-layouts/VBL-AWTF-80SC.pdf') %>
      <ul>
        <li><%= link_to 'Aisin AW TF-80SC', 'downloads/valve-body-layouts/VBL-AWTF-80SC.pdf', :class => 'pdf' %></li>
        <li><%= link_to 'Application Guide by Vehicle Make', 'downloads/valve-body-layouts/AW6-App-Guide.pdf', :class => 'pdf app-guide' %></li>
      </ul>
    </li>
    
    <li>
      <%= link_to(image_tag('valve-body-layouts/VBL-AWTF-81SC.jpg', :width => 250, :height => 162, :alt => 'Aisin AW TF-81SC'), 'downloads/valve-body-layouts/VBL-AWTF-81SC.pdf') %>
      <ul>
        <li><%= link_to 'Aisin AW TF-81SC', 'downloads/valve-body-layouts/VBL-AWTF-81SC.pdf', :class => 'pdf' %></li>
        <li><%= link_to 'Application Guide by Vehicle Make', 'downloads/valve-body-layouts/AW6-App-Guide.pdf', :class => 'pdf app-guide' %></li>
      </ul>
    </li>
    
    <li>
      <%= link_to(image_tag('valve-body-layouts/VBL-AWTR-60SN.jpg', :width => 250, :height => 162, :alt => 'Aisin AW TR-60SN'), 'downloads/valve-body-layouts/VBL-AWTR-60SN.pdf') %>
      <ul>
        <li><%= link_to 'Aisin AW TR-60SN', 'downloads/valve-body-layouts/VBL-AWTR-60SN.pdf', :class => 'pdf' %></li>
      </ul>
    </li>
    
    <li>
      <%= link_to(image_tag('valve-body-layouts/VBL-Chrysler-42-48.jpg', :width => 250, :height => 162, :alt => 'Chrysler 42-46-47-48RH/RE'), 'downloads/valve-body-layouts/VBL-Chrysler-42-48.pdf') %>
      <ul>
        <li><%= link_to 'Chrysler 42-46-47-48RH/RE', 'downloads/valve-body-layouts/VBL-Chrysler-42-48.pdf', :class => 'pdf' %></li>
      </ul>
    </li>
    
    <li>
      <%= link_to(image_tag('valve-body-layouts/VBL-Ford-4R-5R44-55E.jpg', :width => 250, :height => 162, :alt => 'Ford 4R/5R44E/5R55E'), 'downloads/valve-body-layouts/VBL-Ford-4R-5R44-55E.pdf') %>
      <ul>
        <li><%= link_to 'Ford 4R/5R44E/5R55E', 'downloads/valve-body-layouts/VBL-Ford-4R-5R44-55E.pdf', :class => 'pdf' %></li>
      </ul>
    </li>
    
    <li>
      <%= link_to(image_tag('valve-body-layouts/VBL-Ford-5R55N.jpg', :width => 250, :height => 162, :alt => 'Ford 5R55N'), 'downloads/valve-body-layouts/VBL-Ford-5R55N.pdf') %>
      <ul>
        <li><%= link_to 'Ford 5R55N', 'downloads/valve-body-layouts/VBL-Ford-5R55N.pdf', :class => 'pdf' %></li>
      </ul>
    </li>

    <li>
      <%= link_to(image_tag('valve-body-layouts/VBL-Ford-5R55W-S.jpg', :width => 250, :height => 162, :alt => 'Ford 5R55W/S'), 'downloads/valve-body-layouts/VBL-Ford-5R55W-S.pdf') %>
      <ul>
        <li><%= link_to 'Ford 5R55W/S', 'downloads/valve-body-layouts/VBL-Ford-5R55W-S.pdf', :class => 'pdf' %></li>
      </ul>
    </li>
    
    <li>
      <%= link_to(image_tag('valve-body-layouts/VBL-Ford-AX4N.jpg', :width => 250, :height => 162, :alt => 'Ford AX4N'), 'downloads/valve-body-layouts/VBL-Ford-AX4N.pdf') %>
      <ul>
        <li><%= link_to 'Ford AX4N', 'downloads/valve-body-layouts/VBL-Ford-AX4N.pdf', :class => 'pdf' %></li>
      </ul>
    </li>
    
    <li>
      <%= link_to(image_tag('valve-body-layouts/VBL-GM-4T65-E.jpg', :width => 250, :height => 162, :alt => 'General Motors 4T65-E'), 'downloads/valve-body-layouts/VBL-GM-4T65-E.pdf') %>
      <ul>
        <li><%= link_to 'General Motors 4T65-E', 'downloads/valve-body-layouts/VBL-GM-4T65-E.pdf', :class => 'pdf' %></li>
      </ul>
    </li>
    
    <li>
      <%= link_to(image_tag('valve-body-layouts/VBL-GM-5L40-E_5L50-E.jpg', :width => 250, :height => 162, :alt => 'General Motors 5L40-E, 5L50-E'), 'downloads/valve-body-layouts/VBL-GM-5L40-E.pdf') %>
      <ul>
        <li><%= link_to 'General Motors 5L40-E, 5L50-E', 'downloads/valve-body-layouts/VBL-GM-5L40-E.pdf', :class => 'pdf' %></li>
      </ul>
    </li>
    
    <li>
      <%= link_to(image_tag('valve-body-layouts/VBL-Jatco-CVT.jpg', :width => 250, :height => 162, :alt => 'Jatco CVT'), 'downloads/valve-body-layouts/VBL-Jatco-CVT.pdf') %>
      <ul>
        <li><%= link_to 'Jatco CVT', 'downloads/valve-body-layouts/VBL-Jatco-CVT.pdf', :class => 'pdf' %></li>
      </ul>
    </li>

    <li>
      <%= link_to(image_tag('valve-body-layouts/VBL-Jatco-RE5R05A.jpg', :width => 250, :height => 162, :alt => 'Jatco RE5R05A'), 'downloads/valve-body-layouts/VBL-Jatco-RE5R05A.pdf') %>
      <ul>
        <li><%= link_to 'Jatco RE5R05A', 'downloads/valve-body-layouts/VBL-Jatco-RE5R05A.pdf', :class => 'pdf' %></li>
      </ul>
    </li>
    
    <li>
      <%= link_to(image_tag('valve-body-layouts/VBL-Mercedes-722-6.jpg', :width => 250, :height => 162, :alt => 'Mercedes 722.6'), 'downloads/valve-body-layouts/VBL-Mercedes-722-6.pdf') %>
      <ul>
        <li><%= link_to 'Mercedes 722.6', 'downloads/valve-body-layouts/VBL-Mercedes-722-6.pdf', :class => 'pdf' %></li>
      </ul>
    </li>
    
    <li>
      <%= link_to(image_tag('valve-body-layouts/VBL-Mitsubishi-F4A-F5A.jpg', :width => 250, :height => 162, :alt => 'Mitsubishi F4A/F5A'), 'downloads/valve-body-layouts/VBL-Mitsubishi-F4A-F5A.pdf') %>
      <ul>
        <li><%= link_to 'Mitsubishi F4A/F5A', 'downloads/valve-body-layouts/VBL-Mitsubishi-F4A-F5A.pdf', :class => 'pdf' %></li>
      </ul>
    </li>
    
    <li>
      <%= link_to(image_tag('valve-body-layouts/VBL-Toyota-U140E.jpg', :width => 250, :height => 162, :alt => 'Toyota U140E/F, U240E, U241E'), 'downloads/valve-body-layouts/VBL-Toyota-U140E.pdf') %>
      <ul>
        <li><%= link_to 'Toyota U140E/F, U240E, U241E', 'downloads/valve-body-layouts/VBL-Toyota-U140E.pdf', :class => 'pdf' %></li>
        <li><%= link_to 'Application Guide by Vehicle Make', 'downloads/valve-body-layouts/Toyota-U-Series-App-Guide.pdf', :class => 'pdf app-guide' %></li>
      </ul>
    </li>
    
    <li>
      <%= link_to(image_tag('valve-body-layouts/VBL-Toyota-U151EF-U250E.jpg', :width => 250, :height => 162, :alt => 'Toyota U151E/F, U250E'), 'downloads/valve-body-layouts/VBL-Toyota-U151EF-U250E.pdf') %>
      <ul>
        <li><%= link_to 'Toyota U151E/F, U250E', 'downloads/valve-body-layouts/VBL-Toyota-U151EF-U250E.pdf', :class => 'pdf' %></li>
        <li><%= link_to 'Application Guide by Vehicle Make', 'downloads/valve-body-layouts/Toyota-U-Series-App-Guide.pdf', :class => 'pdf app-guide' %></li>
      </ul>
    </li>

    <li>
      <%= link_to(image_tag('valve-body-layouts/VBL-ZF6HP19-26-32.jpg', :width => 250, :height => 162, :alt => 'ZF6HP19/26/32'), 'downloads/valve-body-layouts/VBL-ZF6HP19-26-32.pdf') %>
      <ul>
        <li><%= link_to 'ZF6HP19/26/32', 'downloads/valve-body-layouts/VBL-ZF6HP19-26-32.pdf', :class => 'pdf' %></li>
      </ul>
    </li>

  </ul>
</div>