<div id="<%= dom_id(product_line, :parts) %>" class="parts group">
  <table cellpadding="0" summary="Listing of Parts for <%= product_line.name %>">
    <thead>
      <th>Product Line</th>
      <th>Part Number</th>
      <th>Description</th>
      <th>Item Notes</th>
      <th>Make</th>
      <th>Units</th>
    </thead>
    <tbody>
      <% parts.each do |part| %>
      <tr>
        <td><%= product_line.name %></td>
        <td><%= link_to part.part_number, product_line_part_path(product_line.url_friendly, part) %></td>
        <td><%= part.description %></td>
        <td><%= part.notes %></td>
        <td>{make}</td>
        <td>
          <% if part.units.any? %>
            <%= part.units.map(&:name).join(', ') %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>