<div id="distributors">
  <h1>Distributors</h1>
  <div class="search-box group">
    <% form_tag admin_search_distributors_path, :method => :post do %>
      <fieldset>
        <legend>Search</legend>
        
        <div class="text search-distributors search">
          <%= label_tag :q, 'Search Term' %>
          <%= text_field_tag :q, params[:q] %>
        </div>
        
        <div class="submit">
          <%= submit_tag 'Search' %>
        </div>
      </fieldset>
    <% end %>
  </div>
  <div class="add-new"><%= link_to 'Add New Distributor', new_admin_distributor_path, :class => 'create' %></div>
  <% if @distributors.any? %>
    <table cellpadding="0" cellspacing="0" summary="Listing of Distributors" width="100%">
      <thead>
        <tr>
          <th>Name</th>
          <th>Telephone</th>
          <th class="options"></th>
        </tr>
      </thead>
      <tbody>
        <% @distributors.each do |distributor| %>
        <tr id="<%= dom_id(distributor) %>">
          <td><%= distributor.name %><% if distributor.has_multiple_locations? %> *<% end %></td>
          <td><%= distributor.phone_number %></td>
          <td class="options">
            <ul>
              <li><%= link_to 'Edit', edit_admin_distributor_path(distributor), :class => 'edit' %></li>
              <li><%= link_to 'Delete', admin_distributor_path(distributor), :class => 'destroy' %></li>
            </ul>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <p class="notice">* Stocking distributors with multiple locations. Please call for more information.</p>
  <% else %>
  <p>There are no distributors.</p>
  <% end %>
</div>