<h1>Torque Converter Technical Library</h1>
<p>Sonnax offers a broad range of resources to help technicians stay on top of developments in the automatic transmission industry. Whether you're troubleshooting a problematic valve body or looking for rebuilding tips and tricks from the pros, you'll find no better online resource. Plus, we're always adding new content to keep you and your shop on the cutting edge, so be sure to check back often to see what's new from Sonnax.</p>

<div id="<%= dom_id(@publication_category, :list) %>" class="publication-list">
  <p>Look up specific technical resources by Make, Unit or Subject below. Click on Article, Author or Date to sort your results.</p>
  <% form_for :filter, @form_presenter, :url => @form_presenter.url, :html => { :method => :get, :class => 'group' } do |f| %>
  <fieldset>
    <legend>Filtering Options</legend>
    <div id="filter-options" class="group">
      <div class="make-units">
        <div class="make-selector">
          <%= f.label :make, 'Make:' %>
          <%= f.select :make, @form_presenter.make_options, :include_blank => '-- Select Make --' %>
        </div>

        <div class="unit-selector">
          <%= f.label :unit, 'Unit:' %>
          <%= f.select :unit, @form_presenter.unit_options, :include_blank => '-- Select Unit --' %>
        </div>
      </div>

      <div class="subjects">
        <div class="subject-selector">
          <%= f.label :subject, 'Subject:' %>
          <%= f.select :subject, @form_presenter.subject_options, :include_blank => '-- Select Subject --' %>
        </div>
      </div>

      <div class="submit">
        <%= f.submit 'Filter' %>
      </div>
    </div>
  </fieldset>
  <% end %>

  <% if @publications.any? %>
  <div id="<%= dom_id(@publication_category, :publications) %>" class="publications group">
    <%= render :partial => 'publication_titles/titles_table.html.erb', :locals => { :category => @publication_category, :publications => @publications } %>
  </div>
  <% end %>
</div>