<h1>Login</h1>

<% form_for @user_session, :url => user_session_path do |f| %>
  <fieldsest>
    <legend>Account Information</legend>
    
    <div class="text login">
      <%= f.error_message_on :login %>
      <%= f.label :login, 'Username' %>
      <%= f.text_field :login %>
    </div>
    
    <div class="password text">
      <%= f.error_message_on :password %>
      <%= f.label :password, 'Password' %>
      <%= f.password_field :password %>
    </div>
    
    <div class="remember-me checkbox">
      <%= f.check_box :remember_me %> <%= f.label :remember_me %>
    </div>
    
    <div class="submit">
      <p><%= f.submit 'Login' %></p>
    </div>
  </fieldsest>
<% end %>