<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Sonnax Administration</title>
    
  </head>
  
  <body id="home">
    <div id="masthead">
      <h1><%= link_to 'Sonnax Administration', '#' %></h1>       
      <div class="user-options">
        <p>You are logged in as <strong><%= current_user.login %></strong>, <%= link_to 'view your profile', account_path %> or <%= link_to 'sign out', sign_out_path %></p>
      </div>
    </div>
    
    <div id="wrapper">
      <div id="wrapper-inner">
        <div id="col-1">
          <ul>
            <li><%= link_to 'Product Lines', admin_product_lines_path %></li>
            <li><%= link_to 'Parts', admin_parts_path %></li>
            <li><%= link_to 'Units', admin_units_path %></li>
            <li><%= link_to 'Makes', admin_makes_path %></li>
            <li><%= link_to 'Reference Figures', admin_reference_figures_path %></li>
            <li><%= link_to 'Distributors', admin_distributors_path %></li>
            <li><%= link_to 'Publications', admin_publication_titles_path %></li>
            <li><%= link_to 'Users', admin_users_path %></li>
          </ul>
        </div>
        <%= yield %>
      </div>
    </div>
    
    <div id="extra">
      <p>&copy; <%= Date.today.year %> Sonnax Industries, Inc.</p>
    </div>
  </body>
</html>