<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Sonnax</title>
    
  </head>
  
  <body id="home">
    <div id="masthead">
      <h1>Sonnax</h1>
      <ul>
        <li><%= link_to 'Home', root_path %></li>
        <li>
          <%= link_to 'Product Lines', product_lines_path %>
          <% if @product_lines_nav.any? %>
          <ul>
            <% @product_lines_nav.each do |nav| %>
            <li><%= link_to nav.name, product_line_path(nav.url_friendly) %></li>
            <% end %>
          </ul>
          <% end %>
        </li>
        <li><%= link_to 'Quick Search', quick_search_path %></li>
        <li><%= link_to 'How to Order', how_to_order_path %></li>
        <li><%= link_to 'Technical Information', technical_information_path %></li>
        <li>
          <%= link_to 'About Us', about_us_path %>
          <ul>
            <li><%= link_to 'History/Mission', history_mission_path %></li>
            <li><%= link_to 'Sonnax International', international_info_path %></li>
            <li><%= link_to 'TASC Force &trade;', tasc_force_path %></li>
            <li><%= link_to 'Catalog Request', catalog_request_path %></li>
            <li><%= link_to 'Career Opportunities', career_opportunities_path %></li>
            <li><%= link_to 'Schedule of Events', events_list_path %></li>
            <li><%= link_to 'Sonnax News', news_list_path %></li>
            <li><%= link_to 'Contact Us', new_contact_path %></li>
          </ul>
        </li>
      </ul>
    </div>
    
    <div id="wrapper">
      <div id="wrapper-inner">
        <%= yield %>
      </div>
    </div>
    
    <div id="extra">
      <p>&copy; <%= Date.today.year %> Sonnax Industries, Inc. Sonnax Transmission, Torque Converter, Performance, Driveline, Allison &reg; Replacement Parts for automotive aftermarket rebuilders.</p>
    </div>
  </body>
</html>