<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
  <head>    
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta http-equiv="content-language" content="en-us">
    <meta http-equiv="X-UA-Compatible" content="IE=7">
    <title>Sonnax</title>
    <meta name="MSSmartTagsPreventParsing" content="true">
    <meta name="description" content="Sonnax Transmissions.">
    <meta name="keywords" content="sonnax, transmissions">
    <meta name="author" content="Sonnax">
    <meta name="reply-to" content="info@sonnax.com">
    <meta name="copyright" content="<%= Time.now.year %> Sonnax">
    <meta name="google-site-verification" content="#">
    <meta name="y_key" content="#">
    <meta http-equiv="imagetoolbar" content="false">
    <%= stylesheet_link_tag 'reset', 'application' %>
  </head>
  
  <body id="home">
    <div id="wrapper">
      <div id="branding">
        <h1>Sonnax</h1>
        <ul>
          <li><%= link_to 'Home', '#' %></li>
          <li><%= link_to 'Product Lines', '#' %></li>
          <li><%= link_to 'Quick Search', '#' %></li>
          <li><%= link_to 'How to Order', '#' %>
            <ul>
              <li><%= link_to "International Shipping &amp; Payment Options", international_shipping_and_payment_path %></li>
            </ul>
          </li>
          <li><%= link_to 'Technical Information', '#' %></li>
          <li><%= link_to 'About Us', '#' %>
            <ul>
              <li><%= link_to "History &amp; Mission", history_mission_path %></li>
              <li><%= link_to "International", international_info_path %></li>
            </ul>
          </li>
        </ul>
      </div>
      
      <div id="content">
        <%= yield %>
      </div>
      
      <div class="search-box simple">
        <form method="post" action="#">
          <fieldset>
            <legend>Search</legend>

            <div class="search text">
              <input type="text" name="q">
            </div>
            <a href="#" class="more">More Options &rarr;</a>
          </fieldset>
          
          <fieldset class="submit">
            <input type="submit" name="submit" value="Search &rarr;">
          </fieldset>
        </form>
      </div>
      
      
      <div id="extra">
        <ul>
          <li><%= link_to "Terms &amp; Conditions", '#' %></li>
          <li><%= link_to "Shipping Options", '#' %></li>
          <li><%= link_to "Payment Options", '#' %></li>
        </ul>
        <p class="disclaimer">This website and all of its contents are the intellectual property of Sonnax Industries, Inc.  No portion of this work may be reproduced or transmitted in any form or by any means, mechanical or electronic, including photocopying and/or recording, or by any other information storage and/or retrieval system without the prior written consent of Sonnax Industries, Inc.  Sonnax customers may use the part numbers only for the limited purpose of placing orders with Sonnax or otherwise operating their business, but in no case is permission granted to any customer, business entity, or individual to utilize the part numbers in order to compete with Sonnax. &copy; 2008 Sonnax Industries, Inc. Sonnax Transmission, Torque Converter, Performance, Driveline, Allison&reg; Replacement Parts for automotive aftermarket rebuilders.</p>
      </div>
    </div>
    
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.0/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js"></script>
    <%= javascript_include_tag 'application' %>
  </body>
</html>